{% set clsSettings, clsSettingsSubMenu, clsSettingsChangePassword = 'class=active', 'style=display:block', 'class=active' %}

{% extends (is_granted('ROLE_ADMIN')) ? 'backend_base.html.twig' : 'base.html.twig' %}



{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ 'Change password' |trans }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_home') }}">Dashboard</a></li>
            <li class="active">{{ 'Change password'|trans }}</li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        {{ 'Change password'|trans }}
                        <ul class="panel-tools">
                            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="form-group ">
                            <input type="submit" class="btn btn-default"
                                   value="{{ formActionLabel|default('Save')|trans }}"/>
                            <input type="reset" class="btn btn-default" value="{{ 'Reset'|trans }}"/>
                            <input type="button" class="btn btn-default" value="{{ 'Cancel'|trans }}"
                                   onclick="window.history.back()"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(/images/page_login.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>{{ 'Profile'|trans }}</h2>
                </div>
            </div>
        </div>
    </section>
    {{ include('front/include/flash_messages.html.twig') }}

    <!-- START CONTAINER -->
    <div class="container-padding">
        <section>
            <div class="register-form">
                <div class="container">

                    {{ include('front/include/flash_messages.html.twig') }}

                    <div class="reg_info">
                        <!-- Start Row -->
                        <div class="col-md-12">
                            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                        </div>
                        <!-- Start Row -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END CONTAINER -->
{% endblock %}