{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password regis-class','id': 'formChangePass' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary float-left" />
        <input type="button" value="{{ 'Back'|trans }}" class="btn btn-primary float-left" onclick="window.history.back()" />
    </div>
{{ form_end(form) }}


{% block javascripts %}
    {#Client Side Validation : START #}
    <script type="text/javascript"
            src="{{ asset('/assets/vendor/jquery-validation/dist/jquery.validate.js') }}"></script>
    {#Client Side Validation : END #}
{% endblock %}
