{#{% extends "@FOSUser/layout.html.twig" %}#}
{% extends "base.html.twig" %}
{% block title %}{{ SITE_NAME }} - Login{% endblock %}
{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock %}
