{% trans_default_domain 'FOSUserBundle' %}

<section>
    <div class="inner-page_bg bg-opacity"
         style="background: url(/images/page_login.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
        <div class="container">
            <div class="page_header">
                <h2>{{ 'Login'|trans }}</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="register-form">
        <div class="container">
            <div class="reg_info">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="basketball-div"
                             style="background: url(/images/basketball_div1.jpg) no-repeat center; background-size: cover;padding: 250px 0;">
                            <div class="regi_deta">
                                <p>{{ 'Try Super Handles University for free!'|trans }}</p>
                                <form>
                                    <button type="submit" class="btn btn-click " id="clickbtn" name="go"
                                            formaction="https://superhandlesuniversity.com/best-basketball-training-program-on-planet-earth">{{ 'Click Here'|trans }}</button>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">

                        <div class="logindiv-heading">

                            <h2 class="login_div">{{ 'Login'|trans }}</h2>

                            <form class="login-class" action="{{ path("fos_user_security_check") }}" method="post">
                                {% if csrf_token %}<input type="hidden" name="_csrf_token"
                                                          value="{{ csrf_token }}"/>{% endif %}
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="fname">{{ 'Username'|trans }}</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                                           required="required" autocomplete="username" class="form-control"
                                           placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password">{{ 'Password'|trans }}</label>
                                    <input type="password" class="form-control" id="password" name="_password"
                                           required="required" autocomplete="current-password" placeholder="Password">
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"
                                               name="remember"> {{ 'Remember me.'|trans }}
                                    </label>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-register" id="btnlogin"
                                            name="submit">{{ 'Login'|trans }}</button>
                                    <a href="{{ path('fos_user_resetting_request') }}"
                                       class="btn text-small">{{ 'Lost your Password?'|trans }}</a>
                                    <a href="{{ path('register') }}" class="btn text-small">{{ 'Register'|trans }}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
