{% extends 'backend_base.html.twig' %}

{% block title %}
    {{ 'User: '|trans ~ formActionLabel|default('Add')|trans ~ ' Page'|trans }}
{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ 'User'|trans }}</h1>
        {% include 'admin/breadcrumbs.html.twig' %}
    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        {{ formActionLabel|default('Add')~' User'|trans }}
                        <ul class="panel-tools">
                            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="form-group ">
                            <input type="submit" class="btn btn-default"
                                   value="{{ formActionLabel|default('Save')|trans }}"/>
                            <input type="reset" class="btn btn-default" value="{{ 'Reset'|trans }}"/>
                            <input type="button" class="btn btn-default" value="{{ 'Cancel'|trans }}"
                                   onclick="window.history.back()"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
