<div class="modal-dialog animated fadeInUp">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Set Cc code for : {{ formLabel }}</h4>
            <button type="button" class="close" data-dismiss="modal" style="margin-top: -22px;">&times;</button>

        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">

                        {{ form_start(form, {'action': path('user_cc_code')}) }}

                        {{ form_widget(form) }}
                        <input type="hidden" value="{{ userId }}" name="UserId" id="userId">
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<link rel="stylesheet" type="text/css" href="{{ asset('css/admin/multi-select-new.css') }}">
<script src="{{ asset('js/admin/jquery.multi-select.js') }}"></script>
<script src="{{ asset('js/admin/jquery.quicksearch.js') }}"></script>
<script>
    $(document).ready(function () {
        $vals = {{ userCcCode }};
        $('#user_cc_code_usercode option').each(function() {
            if ($.inArray( parseInt($(this).val()) , $vals) != -1) {
                $(this).attr('selected','selected');
            }
        });

        $('.pre-selected-options').multiSelect({
            selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search'>",
            selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search'>",
            afterInit: function(ms){
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function(e){
                        if (e.which === 40){
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function(e){
                        if (e.which == 40){
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function(value){
                this.qs1.cache();
                this.qs2.cache();
                $streamingId = value;
                $userId = $("#userId").val();
                quickAjax("{{ path('user_add_cc_code') }}", {"streamingId": $streamingId, "userId":$userId}, function (data) {
                    console.log(data);
                    toastr["success"]("CC-Code assign successfully done", "");
                });
            },
            afterDeselect: function(value){
                this.qs1.cache();
                this.qs2.cache();
                $streamingId = value;
                $userId = $("#userId").val();
                quickAjax("{{ path('user_remove_cc_code') }}", {"streamingId": $streamingId, "userId":$userId}, function (data) {
                    console.log(data);
                    toastr["warning"]("CC-Code remove successfully done", "");
                });
            }
        });

    })
</script>
