{% extends 'backend_base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title|trans }}</h1>
        {% include 'admin/breadcrumbs.html.twig' %}

        <!-- End Page Header Right Div -->
    </div>
{% endblock %}

{% block pageContent %}
<div class="container-padding">
    <!-- Start Row -->
    <div class="row">
        <!-- START FLASH MESSAGES -->
        {{ include('front/include/flash_messages.html.twig') }}
        <!-- END FLASH MESSAGES -->
        <!-- Start Panel -->
        <div class="panel panel-default">
            <div class="panel-title">
                {{ 'Users Details'|trans }}
                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ asset(USERS_IMAGES~userData.profile.profilePic)|imagine_filter('user_profile_100_100') }}"
                                 class="avatar img-circle img-thumbnail" alt="avatar" style="height: 30%; width: 30%">

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{ 'User Name'|trans }} : </label>
                                <span>{{ userData.username|trans }}</span>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'Email-Id'|trans }} : </label>
                                <span>{{ userData.email|trans }}</span>
                            </div>

                            <div class="col-md-6">
                                <label>{{ 'First Name'|trans }} : </label>
                                <span>{{ userData.profile.firstName|trans }}</span>
                            </div>

                            <div class="col-md-6">
                                <label>{{ 'Last Name'|trans }} : </label>
                                <span>{{ userData.profile.lastName|trans }}</span>
                            </div>

                            <div class="col-md-6">
                                <label>{{ 'DOB'|trans }} : </label>
                                <span>{{ userData.profile.dob|date('d/m/Y')|trans }}</span>
                            </div>

                            <div class="col-md-6">
                                <label>{{ 'Gender'|trans }} : </label>
                                <span>{{ (userData.profile.gender) ? 'Male' : 'Female' }}</span>
                            </div>

                            <div class="col-md-6">
                                <label>{{ 'Status'|trans }} : </label>
                                <span>
                                    {{ (userData.enabled) ? 'Active' : 'In-Active' }}
                                </span>
                            </div>

                            <div class="col-md-6">
                                <label>{{ 'Last Login Time'|trans }} : </label>
                                <span>{{ userData.lastLogin|date('d/m/Y h:i:s')|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Panel -->
        </div>
        <div class="panel panel-default">
            <div class="panel-title">
                {{ 'Users Orders Details'|trans }}
                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <table class="table cls-sgDatatable table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'Transaction Id'|trans }}</th>
                        <th>{{ 'Status'|trans }}</th>
                        <th>{{ 'Order Date'|trans }}</th>
                        <th>{{ 'Last Updated Date'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if orders %}
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.idTransaction |trans }}</td>
                                <td>{{ order_status_text(order.status) }}</td>
                                <td>{{ order.createdDate | date('d/m/Y H:i:s') }}</td>
                                <td>{{ order.updatedDate | date('d/m/Y H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('order_management_view_order_details') }}?id={{ order.id }}"
                                       onclick="return loadModalURL(this)" title="Order Details"
                                       class="btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-eye-open">View</span>

                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Order does't found !!</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-title">
                {{ 'Users CC Code'|trans }}
                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <table class="table cls-sgDatatable table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'CC Code'|trans }}</th>
                        <th>{{ 'Streaming Name'|trans }}</th>
                        <th>{{ 'Created Date'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if ccCode %}
                        {% for cCode in ccCode %}
                            <tr>
                                <td>{{ cCode.idStreamingPage.productCcCode|trans }}</td>
                                <td>{{ cCode.idStreamingPage.pageTitle|trans }}</td>
                                <td>{{ cCode.createdDate|date('d/m/Y')|trans }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">CC code does't found !!</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Row -->
    </div>
    {% endblock %}
