{% extends 'backend_base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title|trans }}</h1>

        {% include 'admin/breadcrumbs.html.twig' %}

    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->

            <div class="panel panel-default">
                <div class="panel-title">
                    {{ title|trans }}
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        {#<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>#}
                    </ul>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    {% if form.vars.value.id  %}
                    {% set image = UPLOAD_IMAGES_PATH ~'product/' ~ imageName %}
                    {% if( (UPLOAD_IMAGES_PATH ~'product/' ~ imageName is defined)) %}
                        {% set image = UPLOAD_IMAGES_PATH ~'product/' ~ imageName %}
                    {% endif %}
                    <div class="form-group">
                        <img id='img-upload' src="{{ image }}" height="150" width="300">
                    </div>
                    {% else  %}
                        <div class="form-group" id="img-upload-preview" style="display:none;">
                            <img id='img-upload' width="300" height="150"/>
                        </div>
                    {% endif %}


                    <div class="form-group ">
                        <input type="submit" class="btn btn-default" value="{{ 'Save'|trans }}"/>
                        <input type="reset" class="btn btn-default" value="{{ 'Reset'|trans }}"/>
                        <input type="button" class="btn btn-default" value="{{ 'Cancel'|trans }}"
                               onclick="window.history.back()"/>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready( function() {
            function readURL(input) {
                if (input.files && input.files[0]) {
                    $("#img-upload-preview").show(500);
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".image-preview").change(function() {
                readURL(this);
            });
        });
    </script>
{% endblock %}
