{% extends 'backend_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title }}</h1>

        {% include 'admin/breadcrumbs.html.twig' %}

        {% if route is defined %}
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{{ path(route.add) }}" class="btn btn-success"><i class="fa fa-plus"></i>Add New</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->

            <div class="panel panel-default">
                <div class="panel-title" id="tblTitle">
                    {% if filterbtn is defined%}
                        {% for key,datarow in filterbtn %}
                            {% for datakey,rowdata in datarow  %}
                                {%  if app.request.get('id') is defined %}
                                    <a class="btn {%  if app.request.get('id') == rowdata|trans %} btn-success {% endif %}" href="{{ path(key)~'?id='~rowdata|trans }}" value="1">{{ datakey }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {{ title|trans }}
                    {% endif %}
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body table-responsive">
                    {{ sg_datatables_render(datatable) }}
                </div>
            </div>

            <!-- End Panel -->
        </div>
        <!-- End Row -->
    </div>
{% endblock %}
