{% extends 'backend_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title }}</h1>

        {% include 'admin/breadcrumbs.html.twig' %}

        {% if route is defined %}
            <div class="right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="{{ path(route.add) }}" class="btn btn-success"><i class="fa fa-plus"></i>Add New</a>
                </div>
            </div>
        {% endif %}
        <!-- End Page Header Right Div -->
    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->


            <div class="panel panel-default">
                <div class="panel-title" id="tblTitle">
                    {% if filter is defined %}
                    <div class="pull-right">
                        <select id="streamingPages" class="form-control">
                            <option value=""> -Select Streaming Page- </option>
                            {% for filters in filter %}
                            <option value="{{ filters.id }}" {% if filters.id == app.request.get('id') %} selected="selected" {% endif %}>{{ filters.pageTitle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                        {{ title|trans }}
                    {% endif %}
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body table-responsive filter-table-responsive">
                    {{ sg_datatables_render(datatable) }}
                </div>
            </div>

            <!-- End Panel -->
        </div>
        <!-- End Row -->
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#streamingPages").change(function () {
                if($(this).val()) {
                    window.location.href = '{{ path('streamingworkout_list') }}?id=' + $(this).val();
                }else {
                    window.location.href = '{{ path('streamingworkout_list') }}';
                }
            })
        });
    </script>
{% endblock %}
