{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(../images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Store</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="store">
        <!-- Checkout Form -->
        <div class="container">
            {{ form_start(form, {'attr':{'id': 'coachRegistrationForm', 'data-progress-id':'#stepFormProgress', 'data-steps-id':'#stepFormSteps', 'class':'js-validate js-step-form', 'action': path('front_coach_subscription_newcoach')}}) }}
            <div class="g-mb-100">
                <!-- Step Titles -->
                <ul id="stepFormProgress"
                    class="js-step-progress row justify-content-center list-inline text-center g-font-size-17 mb-0">
                    <li class="col-3 list-inline-item g-mb-20 g-mb-0--sm">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-gray-dark-v5 g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">1</i>
                  <i class="fas fa-check g-show-check"></i>
                </span>
                        <h4 class="g-font-size-16 text-uppercase mb-0">Enter User Details</h4>
                    </li>

                    <li class="col-3 list-inline-item">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-gray-dark-v5 g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">2</i>
                  <i class="fas fa-check g-show-check"></i>
                </span>
                        <h4 class="g-font-size-16 text-uppercase mb-0">Cart Details</h4>
                    </li>
                    <li class="col-3 list-inline-item">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-gray-dark-v5 g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">3</i>
                  <i class="fas fa-check g-show-check"></i>
                </span>
                        <h4 class="g-font-size-16 text-uppercase mb-0">Enter Card Payment Details</h4>
                    </li>
                </ul>
                <!-- End Step Titles -->
            </div>

            <div id="stepFormSteps">
                <!-- Shipping -->
                <div id="step2" class="active">
                    <div class="cart-fc-div">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center cntr-div">
                                    <div class="form-group">
                                        <h2>Register Your Team Below</h2>
                                        <h5>Get 7 Days Free With Standard And Elite Plans</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                {{ form_row(form.idUser) }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                {{ form_row(form.idSubscriptionPlan) }}
                                {{ form_row(form.idSubscriptionCoachPlan) }}
                                {{ form_row(form.amount) }}
                                {{ form_row(form.isSubscription) }}
                                {{ form_row(form.isInvoice) }}
                                {{ form_row(form.schoolName) }}
                                {{ form_row(form.schoolEmail) }}
                            </div>
                        </div>
                        <div class="cart-lft-div text-center">
                            <a class="btn btn-ind-store" id="formSubmit" href="#">Register</a>
                            <a data-next-step="#step3" id="formSubmitClick" class="hidden" href="#">Register123</a>
                        </div>
                    </div>
                </div>
                <!-- End Shipping -->

                <!-- Payment & Review -->
                <div id="step3">
                    <div class="cart-fc-div">
                        <h4>Make Payment</h4>
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <div class="cart-section-dv chkout-prd-div">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="chkout-crt">
                                                <img src="{{ asset('images/myaccount/ico2.png') }}" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-6 col-sm-12">
                                            <div class="cart-right-details">
                                                <h6>Superhandles Team University</h6>
                                                <span class="subscriptionAmount">$24.99</span>
                                                <p class="grand-total">Plan : <span class="selectedPlan"></span></p>
                                                <p class="grand-total">Player: <span class="player"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="cart-right-payment">
                                    <div class="final-price-coach">
                                        <div class="promotional-code-div">
                                            <div class="form-group">
                                                <label for="coachPromocode">Promotional Codes</label>
                                                <input type="text" id="coachPromocode" class="form-control"
                                                       name="coachPromocode">
                                                <span style='color:green;display:none;' id="applysuccess">The promotional code applyed successfuly done.</span>
                                                <span id="applyerror" style='color:red;display:none;'>The promotional code you entered is not valid.</span>
                                                <span id="blankcode" style='color:red;display:none;'>Please Enter the promotional code.</span>
                                            </div>
                                            <div class="cart-prom-div text-right">
                                                <span class="btn btn-aply-promo" id="coachApplyPromocode">Apply</span>
                                            </div>
                                        </div>
                                        <p class="total-amt">Order Total: <span id="totalAmt">$0.00</span></p>
                                        <p class="total-amt">Discount: <span id="discountAmt">$0.00</span></p>
                                        <p class="grand-total">Remaining Amount: <span id="remAmt">$0.00</span></p>
                                    </div>
                                </div>
                                <div class="checkout-div">
                                    <a class="btn btn-ind-store" data-next-step="#step4" href="#">Place Your
                                        Order</a>
                                </div>
                            </div>
                        </div>
                        <div class="policy-note">
                            <p>By clicking place order now, you accept and agree to the Superhandles <a>sales and
                                    refund policy</a>.</p>
                        </div>
                    </div>
                </div>
                <!-- End Payment & Review -->
                <!-- Start payment methods -->
                <div id="step4">
                    <div class="cart-fc-div">
                        <h4>Payment Form</h4>
                        <div class="row">
                            <div class="col-lg-7 col-md-12 col-sm-12">
                                <div class="pyment-section-dv">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <label for="card-element">
                                                Credit or debit card
                                            </label>
                                            <div id="card-element">
                                                <!-- A Stripe Element will be inserted here. -->
                                            </div>

                                            <!-- Used to display form errors. -->
                                            <div id="card-errors" role="alert"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-ind-store">Submit Payment</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12">
                                <div class="cart-right-payment">
                                    <div class="final-price-coach">
                                        <div class="promotional-code-div">
                                            <div class="form-group">
                                                <h4>Order Summary</h4>
                                            </div>
                                        </div>
                                        <p class="total-amt">Plan : <span class="selectedPlan"></span></p>
                                        <p class="total-amt">Player: <span class="player"></span></p>
                                        <p class="grand-total">Payble Amount: <span class="payAmount">$0.00</span></p>
                                        <input type="hidden" name="urlPlanName" id="urlPlanName"
                                               value="{{ urlPlanName }}">
                                        <input type="hidden" name="coachId" id="coachId" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end payment methods -->
            </div>
            {{ form_end(form) }}
        </div>
        <style type="text/css">
            .StripeElement {
                box-sizing: border-box;

                height: 40px;

                padding: 10px 12px;

                border: 1px solid transparent;
                border-radius: 4px;
                background-color: white;

                box-shadow: 0 1px 3px 0 #e6ebf1;
                -webkit-transition: box-shadow 150ms ease;
                transition: box-shadow 150ms ease;
            }

            .StripeElement--focus {
                box-shadow: 0 1px 3px 0 #cfd7df;
            }

            .StripeElement--invalid {
                border-color: #fa755a;
            }

            .StripeElement--webkit-autofill {
                background-color: #fefde5 !important;
            }

            #card-element {
                width: 100%;
            }
        </style>
        <!-- End Checkout Form -->
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            // Create a Stripe client.
            var stripe = Stripe('pk_test_P3kRx4cIZxYEV8HTMsBmJSjm00qw20xU3d');

// Create an instance of Elements.
            var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
                base: {
                    color: '#32325d',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

// Create an instance of the card Element.
            var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
            card.mount('#card-element');

// Handle real-time validation errors from the card Element.
            card.addEventListener('change', function (event) {
                var displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

// Handle form submission.
            var form = document.getElementById('coachRegistrationForm');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                stripe.createToken(card).then(function (result) {
                    if (result.error) {
                        // Inform the user if there was an error.
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server.
                        stripeTokenHandler(result.token);
                    }
                });
            });

// Submit the form with the token ID.
            function stripeTokenHandler(token) {
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('coachRegistrationForm');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            }
        });
    </script>
{% endblock %}
