{% extends 'base.html.twig' %}

{% block title %}My Team{% endblock %}

{% block body %}
    {% block flash_messages %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    <section>
        <div class="inner-page_bg bg-opacity" style="background: url({{ asset('images/page_headingV1.jpg') }}) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>My Team Details</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wrap">
            <div class="container content-bg-part">
                <div class="col-lg-12">
                    <h3>
                        <div class="pull-left border-bottom paddingBottom10 paddingRight15">My Team Details
                            <div style="float: right">
                                <span class="col-lg-3">Plan : {{ planName }}</span>
                                <span class="col-lg-3">Member Limit : {{ memberLimit }}</span>
                                <span class="col-lg-3">Available Limit : {{ availableLimit }}</span>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('front_coach_create_team') }}"  onclick="return loadModalURL(this)" class="btn btn-primary btn-sm">Add Exciting Player</a>
                            {% if(availableLimit <= 0) %}&nbsp;
                            <a href="#" onclick="return alert('your membership limit is over, Please upgrade your plans or remove exciting Player')"  class="btn btn-primary btn-sm">Add New Player</a>
                            {% else %}
                            <a href="{{ path('front_coach_create_team_new_user') }}"  class="btn btn-primary btn-sm">Add New Player</a>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </h3>
                    <div class="panel panel-default">
                        <div class="panel-body table-responsive">
                            <table id="coachUserTable" class="table display">
                                <thead>
                                <tr>
                                    <th>{{ "Name"|trans }}</th>
                                    <th>{{ "Email"|trans }}</th>
                                    <th>{{ "Actions"|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var table = $('#coachUserTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": Routing.generate('front_coach_coach_team_list'),
                    "type": "post",
                },
                "order": [[0, 'desc']]
            });
        });
    </script>
{% endblock %}
