{% extends 'backend_base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title|trans }}</h1>
        {% include 'admin/breadcrumbs.html.twig' %}
    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        {{ title|trans }}
                        <ul class="panel-tools">
                            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            {#<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>#}
                        </ul>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <div class="form-group ">
                            <input type="submit" class="btn btn-default" value="{{ 'Save'|trans }}"/>
                            <input type="reset" class="btn btn-default" value="{{ 'Reset'|trans }}"/>
                            <input type="button" class="btn btn-default" value="{{ 'Cancel'|trans }}"
                                   onclick="window.history.back()"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready( function() {
            $('#cart_coupon_idProductType').change(function() {
                quickAjax(Routing.generate('streamingpages_cat_product'),{"idProductType": $(this).val()}, function (jsondata) {
                    var jsondataSelect = $("#cart_coupon_idProduct");
                    // Remove current options
                    jsondataSelect.html('');

                    $.each(jsondata, function (key, jsondata) {
                        jsondataSelect.append('<option value="' + jsondata.id + '">' + jsondata.title + '</option>');
                    });
                });
            });
        });
    </script>
{% endblock %}
