<div class="modal-dialog animated fadeInUp">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Order Details of order number : {{ orders.id }}</h4>
            <button type="button" class="close" data-dismiss="modal" style="margin-top: -22px;">&times;</button>

        </div>
        <div class="modal-body" id="printThis">
            <div class="row" >
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Order Information
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <th>Order ID</th>
                                        <td id="current_popup_oid">{{ orders.id | trans }}</td>

                                    </tr>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <td>{{ orders.idTransaction | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Order Date & Time</th>
                                        <td>{{ orders.createdDate|date("d/m/Y g:i a") | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Update Date</th>
                                        <td>{{ orders.updatedDate|date("d/m/Y g:i a") | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Order Status</th>
                                        <td>{{ orders.status | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Total Amount</th>
                                        <td>{{ orders.totalAmount | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td>{{ orders.shippingAmount | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount Amount</th>
                                        <td>{{ orders.discountAmount | trans }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Purchased Product Information
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Product Type</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                    </tr>
                                    {% for od in orderDetails %}
                                        {% set productImage = UPLOAD_IMAGES_PATH ~ 'product' ~ od.idProduct.image %}
                                    <tr>
                                        <th>{{ od.id | trans }}</th>
                                        <th><img class="img-responsive" width="50" height="50"
                                                 src="{{ productImage | imagine_filter('product_thumbnail_50_50') }}" />
                                        </th>
                                        <th>{{ od.idProduct.title | trans }}</th>
                                        <th>{{ od.idProduct.idProductType.productType | trans }}</th>
                                        <th>{{ od.productQty | trans }}</th>
                                        <th>{{ od.productPrice | trans }}</th>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Customer Information
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <th>Fields</th>
                                        <th>Billing Details</th>
                                        <th>Shipping Details</th>
                                    </tr>
                                    <tr>
                                        <th>First Name</th>
                                        <td>{{ orders.idOrderAddress.billingFirstname | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingFirstname | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Last Name</th>
                                        <td>{{ orders.idOrderAddress.billingLastname | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingLastname | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ orders.idOrderAddress.billingEmail | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingEmail | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{ orders.idOrderAddress.billingAddress | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingAddress | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>{{ orders.idOrderAddress.billingCity | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingCity | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                        <td>{{ orders.idOrderAddress.billingState | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingState | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>{{ orders.idOrderAddress.billingCountry | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingCountry | trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Zip Code</th>
                                        <td>{{ orders.idOrderAddress.billingZipcode | trans }}</td>
                                        <td>{{ orders.idOrderAddress.shippingZipcode | trans }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <button type="button" onclick="PrintDiv();" name="print_order" id="print_order"
                                        class="btn btn-primary btn-lg"><i class="fa fa-print"></i> Print
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                function PrintDiv() {
                    //printThis
                    var DocumentContainer = document.getElementsByClassName('panel-body');
                    var WindowObject = window.open('', 'PrintWindow', 'width=750,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');
                    WindowObject.document.writeln(DocumentContainer.innerHTML);
                    WindowObject.document.close();
                    WindowObject.focus();
                    WindowObject.print();
                    WindowObject.close();
                }
            </script>
        </div>

    </div>
</div>
