{% trans_default_domain 'FOSUserBundle' %}

<section>
    <div class="inner-page_bg bg-opacity"
         style="background: url(/images/page_login.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
        <div class="container">
            <div class="page_header">
                <h2>{{ 'Profile'|trans }}</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="register-form">
        <div class="container">
            <div class="reg_info">
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-12">
                    <div class="row">
                        <div class="form-heading">
                            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>