{#{% extends "@FOSUser/layout.html.twig" %}#}
{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(/images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Thank you</h2>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="register-form">
            <div class="container">
                <div class="reg_info">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-12">
                        <div class="row">
                            <div class="form-heading">
                                <p class="text-left"> {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>

                                <p class="mb-0 text-left"><a href="{{ path('fos_user_security_login') }}"><i
                                                class="fas fa-unlock"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                    </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

