{% trans_default_domain 'FOSUserBundle' %}

<section>
    <div class="inner-page_bg bg-opacity"
         style="background: url(/images/page_login.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
        <div class="container">
            <div class="page_header">
                <h2>{{ 'Forgot Password'|trans }}</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="register-form">
        <div class="container">
            <div class="reg_info">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="basketball-div"
                             style="background: url(/images/basketball_div1.jpg) no-repeat center; background-size: cover;padding: 250px 0;">
                            <div class="regi_deta">
                                <p>{{ 'Try Super Handles University for free!'|trans }}</p>
                                <form>
                                    <button type="submit" class="btn btn-click " id="clickbtn" name="go"
                                            formaction="https://superhandlesuniversity.com/best-basketball-training-program-on-planet-earth">{{ 'Click Here'|trans }}</button>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="logindiv-heading">
                            <h2 class="login_div">{{ 'Forgot Password'|trans }}</h2>
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
                                  class="login-class">
                                <div class="form-group">
                                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           required="required"
                                           placeholder="{{ 'resetting.request.username'|trans }}"/></i>
                                </div>
                                <div class="form-group ">
                                    <button type="submit"
                                            class="btn btn-register float-left">{{ 'Submit'|trans }}</button>
                                </div>

                                <a href="{{ path('fos_user_security_login') }}" class="btn float-right text-small"><i
                                            class="fas fa-angle-double-left "></i> {{ 'Login'|trans }}</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>