{% trans_default_domain 'FOSUserBundle' %}
<section>
    <div class="inner-page_bg bg-opacity"
         style="background: url(/images/page_login.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
        <div class="container">
            <div class="page_header">
                <h2>{{ 'Reset Password'|trans }}</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="register-form">
        <div class="container">
            <div class="reg_info">
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-12">
                    <div class="row">
                        <div class="form-heading">
                            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'login-class' } }) }}
                            {{ form_widget(form) }}
                            <div>
                                <input type="submit" class="btn btn-register"
                                       value="{{ 'resetting.reset.submit'|trans }}"/>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
