{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(../images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Store</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="store">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="cart-fc-div">
                        <h4>Items In Your Cart</h4>
                        {% set cartTotal = 0 %}
                        {% if cartData |length > 0 %}
                            {% for cart in cartData %}
                                {% if (cart.idProduct.image.fileName is defined) %}
                                    {% set imgName = UPLOAD_IMAGES_PATH ~ 'product/' ~ cart.idProduct.image.fileName %}
                                {% else %}
                                    {% set imgName = UPLOAD_IMAGES_PATH ~ 'image3.png' %}
                                {% endif %}
                                <div class="cart-section-dv">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-sm-12">
                                            <div class="cart-details">
                                                <img src="{{ imgName| imagine_filter('cart_product_thumbnail_156_173') }}"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <div class="cart-right-details">
                                                <h4 ><a href="{{ path('front_store_products_details', { 'productUrl': cart.idProduct.productUrl }) }}">{{ cart.idProduct.title|trans }}</a></h4>
                                                <span>${{ cart.amount|trans }}</span>
                                                {% if cart.idProductSize %}
                                                    <p>Size : <span>{{ cart.idProductSize.size }}</span></p>
                                                {% endif %}
                                                <div class="counter-div">
                                                    {# <input type="number" value="{{ cart.quantity|trans }}" min="1" max="1000" step="1" cartId="{{ cart.id }}"/>#}
                                                    {% if(cart.idProduct.idProductType.id != "1" and cart.idProduct.idProductType.id != "3") %}
                                                        <div class="input-group  ">
                                                            <div class="input-group-prepend">
                                                                <button style="min-width: 2.5rem"
                                                                        class="btn btn-decrement btn-outline-secondary"
                                                                        type="button" cartId="{{ cart.id }}"><strong>-</strong></button>
                                                            </div>
                                                            <input type="text" style="text-align: center"
                                                                   class="form-control " value="{{ cart.quantity|trans }}" min="1" max="{{ cart.idProduct.quantity }}" value="{{ cart.quantity|trans }}" cartvalId="{{ cart.id }}" readonly="readonly">

                                                            <div class="input-group-append">
                                                                <button style="min-width: 2.5rem"
                                                                        class="btn btn-increment btn-outline-secondary"
                                                                        type="button" cartId="{{ cart.id }}"><strong>+</strong></button>
                                                            </div>
                                                        </div>
                                                    {% else %}

                                                                <span>Qty : 1</span>

                                                    {% endif %}
                                                    <br/>
                                                    <button class="btn btn-ind-delt removeCart" href="#" cartId="{{ cart.id }}">
                                                        <i class="far fa-trash-alt"></i>Remove
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% set cartTotal = cartTotal + (cart.amount * cart.quantity) %}
                            {% endfor %}
                            <div class="cart-lft-div">
                                <a class="btn btn-ind-store" href="{{ path('front_store_product') }}">Continue Shopping</a>
                                <button class="btn btn-ind-store removeCart">Empty Cart</button>
                            </div>
                        {% else %}
                            <h5>There are no items in your cart.</h5>
                            <div class="cart-lft-div">
                                <a class="btn btn-ind-store" href="{{ path('front_store_product') }}">Continue Shopping</a>
                            </div>
                        {% endif %}


                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="cart-fc-div">
                        <h4>Price Details</h4>
                        <div class="cart-right-payment">
                            <span>${{ cartTotal }}</span>
                            <div class="final-price">
                                <p>Cart Subtotal: <span>${{ cartTotal }}</span></p>
                                <p>Estimated Tax: <span><a href="javascript:void(0);">Calculate</a></span></p>
                            </div>
                            <div class="final-price">
                                <p class="grand-total">Grand Total: <span>${{ cartTotal }}</span></p>
                            </div>
                            {% if cartTotal > 0 %}
                                <div class="checkout-div">
                                    <a class="btn btn-ind-store" href="{{ path('front_checkout_cart') }}">Checkout</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $(".btn-increment").click(function () {
                $cartId = $(this).attr('cartId');
                $cartVal = $( "input[cartvalId='"+$cartId+"']" ).val();
                $total = parseInt($cartVal) + 1;
                if($total < 11){
                    $( "input[cartvalId='"+$cartId+"']" ).val( $total );
                    quickAjax("{{ path('front_cart_ajax_cart_update') }}",{"cartId":$cartId,"operator":1}, function (data) {
                        location.reload();
                    });
                }else{
                    alert("Please maximum 10 quantity add")
                }
            });
            $(".btn-decrement").click(function () {
                $cartId = $(this).attr('cartId');
                $cartVal = $( "input[cartvalId='"+$cartId+"']" ).val();
                $total = parseInt($cartVal) - 1;
                if($total > 0){
                    $( "input[cartvalId='"+$cartId+"']" ).val( $total );
                    quickAjax("{{ path('front_cart_ajax_cart_update') }}",{"cartId":$cartId,"operator":0}, function (data) {
                        location.reload();
                    });
                }else{
                    alert("Please quantity set at least one")
                }

            });
            $(".removeCart").click(function () {
                if (confirm("Are you sure you want to delete this?")) {
                    $cartId = $(this).attr('cartId');
                    quickAjax("{{ path('front_cart_ajax_cart_remove') }}", {"cartId": $cartId}, function (data) {
                        location.reload();
                    });
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock %}
