<div class="container">
    <div class="info-panel">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="info-panel-left-section">
                    <ul>
                        <li><a href="{{ path('front_store_product') }}"><i class="fas fa-angle-double-left"></i> Back to Store</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="info-panel-right-section">
                    <ul>
                        <li><a href="tel:+000-111-111-1111"><i class="fas fa-phone"></i>Get Support via Email</a></li>
                        <li><a href="mailto:jon@superhandles.com"><i class="fas fa-envelope-open"></i>jon@superhandles.com</a></li>
                        {#<li><a href="myaccount.html"><i class="fas fa-cog"></i>Account </a></li>#}
                        <li><a href="{{ path('front_cart_add_to_cart') }}"><i class="fas fa-shopping-cart"></i>Cart <span class="badge" id="cartCount">0</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function() {
        cartCount();
    });
</script>
