{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(../images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Store</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="store">
        <div class="container">
            {{ form_start(form, {'attr':{'id': 'addressForm', 'data-progress-id':'#stepFormProgress', 'data-steps-id':'#stepFormSteps', 'class':'js-validate js-step-form', 'action': path('front_order_payment_option')}}) }}
            <div class="g-mb-100">
                <ul id="stepFormProgress"
                    class="js-step-progress row justify-content-center list-inline text-center g-font-size-17 mb-0">
                    <li class="col-3 list-inline-item g-mb-20 g-mb-0--sm">
                    <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-primary g-color-primary g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                      <i class="g-font-style-normal g-font-weight-700 g-hide-check">1</i>
                      <i class="fas fa-check g-show-check"></i>
                    </span>
                        <h4 class="g-font-size-16 text-uppercase mb-0">Cart Product List</h4>
                    </li>

                    <li class="col-3 list-inline-item g-mb-20 g-mb-0--sm">
                    <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-gray-dark-v5 g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                      <i class="g-font-style-normal g-font-weight-700 g-hide-check">2</i>
                      <i class="fas fa-check g-show-check"></i>
                    </span>
                        <h4 class="g-font-size-16 text-uppercase mb-0">Billing & Shipping Information</h4>
                    </li>

                    <li class="col-3 list-inline-item">
                    <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-gray-dark-v5 g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                      <i class="g-font-style-normal g-font-weight-700 g-hide-check">3</i>
                      <i class="fas fa-check g-show-check"></i>
                    </span>
                        <h4 class="g-font-size-16 text-uppercase mb-0">Payment Details</h4>
                    </li>
                    <li class="col-3 list-inline-item">
                    <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-gray-dark-v5 g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                      <i class="g-font-style-normal g-font-weight-700 g-hide-check">4</i>
                      <i class="fas fa-check g-show-check"></i>
                    </span>
                        <h4 class="g-font-size-16 text-uppercase mb-0">Payment Mathod</h4>
                    </li>
                </ul>
            </div>
            <div id="stepFormSteps">
                <!-- Shopping Cart -->
                <div id="step1" class="active">
                    <div class="cart-fc-div">
                        <h4>Cart Product List</h4>
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                {% set cartTotal = 0 %}
                                {% set cartId = [] %}
                                {% if cartData |length > 0 %}
                                    {% for cart in cartData %}
                                        {% if (cart.idProduct.image.fileName is defined) %}
                                            {% set imgName = UPLOAD_IMAGES_PATH ~ 'product/' ~ cart.idProduct.image.fileName %}
                                        {% else %}
                                            {% set imgName = UPLOAD_IMAGES_PATH ~ 'image3.png' %}
                                        {% endif %}
                                        <div class="cart-section-dv chkout-prd-div">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-sm-12">
                                                    <div class="chkout-crt">
                                                        <img src="{{ imgName| imagine_filter('cart_product_thumbnail_156_173') }}"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-6 col-sm-12">
                                                    <div class="cart-right-details">
                                                        <h6>{{ cart.idProduct.title|trans }}</h6>
                                                        <span>${{ cart.totalAmount|trans }}</span>
                                                        <ul>
                                                            <li>Qty : {{ cart.quantity|trans }}</li>
                                                            {% if cart.idProduct.idProductSize %}
                                                                <li>Size : Small</li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% set cartTotal = cartTotal + (cart.amount * cart.quantity) %}
                                        {% set cartId = cartId|merge([cart.id]) %}
                                    {% endfor %}
                                {% endif %}

                                <div class="previous-div">
                                    <a class="btn btn-ind-store" href="{{ path('front_cart_add_to_cart') }}">Back to
                                        Cart</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="cart-right-payment">
                                    <span>${{ cartTotal }}</span>
                                    <div class="final-price">
                                        <p>Cart Subtotal: <span>${{ cartTotal }}</span></p>
                                        <p>Estimated Tax: <span><a href="#">Calculate</a></span></p>
                                    </div>
                                    <div class="final-price">
                                        <p class="grand-total">Grand Total: <span>${{ cartTotal }}</span></p>
                                    </div>
                                    <div class="checkout-div">
                                        <a class="btn btn-ind-store" cartId="{{ cartId|join(',') }}"
                                           data-next-step="#step2" href="#">Continue</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step2">
                    <div class="cart-fc-div addressFormData">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="billing-css">
                                    <div class="form-group">
                                        <label>Select Billing Address</label>
                                        <select class="custom-select" id="billAddress" name="billAddress">
                                            <option selected value="0">--Select Billing Address--</option>
                                            {% for addressData in address %}
                                                <option value="{{ addressData.id }}">{{ addressData.billingAddress }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        {{ form_row(form.billingFirstname) }}
                                        {{ form_row(form.billingEmail) }}
                                        {{ form_row(form.billingState) }}
                                        {{ form_row(form.billingZipcode) }}
                                        <div class="text-center cntr-div">
                                            <div class="form-group">
                                                <input type="checkbox" checked="checked" name="same-billing"
                                                       id="same-address"> Same billing address and shipping address.
                                                Please check this box.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        {{ form_row(form.billingLastname) }}
                                        {{ form_row(form.billingCity) }}
                                        {{ form_row(form.billingCountry) }}
                                        {{ form_row(form.billingAddress) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 hidden" id="shippingDetails">
                                <div class="billing-css">
                                    <div class="form-group">
                                        <label>Select Shipping Address</label>
                                        <select class="custom-select" id="shipAddress" name="shipAddress">
                                            <option selected value="0">--Select Shipping Address--</option>
                                            {% for addressData in address %}
                                                <option value="{{ addressData.id }}">{{ addressData.shippingAddress }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        {{ form_row(form.shippingFirstname) }}
                                        {{ form_row(form.shippingEmail) }}
                                        {{ form_row(form.shippingState) }}
                                        {{ form_row(form.shippingZipcode) }}
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        {{ form_row(form.shippingLastname) }}
                                        {{ form_row(form.shippingCity) }}
                                        {{ form_row(form.shippingCountry) }}
                                        {{ form_row(form.shippingAddress) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-lft-div text-center">
                            <a class="btn btn-ind-store" data-previous-step="#step1"
                               href="#">{{ 'Go To Previous Step' | trans }}</a>
                            <a class="btn btn-ind-store" data-next-step="#step3" href="#"
                               id="formSubmit">{{ 'Complete Billing'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div id="step3">
                    <div class="cart-fc-div">
                        <h4>Make Payment</h4>
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                {% if cartData |length > 0 %}
                                    {% for cart in cartData %}
                                        {% if (cart.idProduct.image.fileName is defined) %}
                                            {% set imgName = UPLOAD_IMAGES_PATH ~ 'product/' ~ cart.idProduct.image.fileName %}
                                        {% else %}
                                            {% set imgName = UPLOAD_IMAGES_PATH ~ 'image3.png' %}
                                        {% endif %}
                                        <div class="cart-section-dv chkout-prd-div">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-sm-12">
                                                    <div class="chkout-crt">
                                                        <img src="{{ imgName| imagine_filter('cart_product_thumbnail_156_173') }}"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-6 col-sm-12">
                                                    <div class="cart-right-details">
                                                        <h6>{{ cart.idProduct.title|trans }}</h6>
                                                        <span>${{ cart.totalAmount|trans }}</span>
                                                        <ul>
                                                            <li>Qty : {{ cart.quantity|trans }}</li>
                                                            {% if cart.idProduct.idProductSize %}
                                                                <li>Size : Small</li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="previous-div">
                                    <a class="btn btn-ind-store" data-previous-step="#step2" href="#">Go To Previous
                                        Step</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="cart-right-payment">
                                    <span>${{ cartTotal }} <i class="fas fa-times"></i></span>
                                    <div class="final-price">
                                        <p>Cart Subtotal: <span>${{ cartTotal }}</span></p>
                                        <p class="shippping-amt">Shipping Price: <span class="shippingPrice">$0.00</span></p>
                                        <p>Estimated Tax: <span><a href="#">Calculate</a></span></p>
                                    </div>
                                    <div class="final-price">
                                        <div class="promotional-code-div">
                                            <div class="form-group">
                                                <label for="promocode">Promotional Codes</label>
                                                <input type="text" id="promocode" class="form-control" name="promocode">
                                                <span style='color:green;display:none;' id="applysuccess">The promotional code applyed successfuly done.</span>
                                                <span id="applyerror" style='color:red;display:none;'>The promotional code you entered is not valid.</span>
                                                <span id="blankcode" style='color:red;display:none;'>Please Enter the promotional code.</span>
                                            </div>
                                            <div class="cart-prom-div text-right">
                                                <span class="btn btn-aply-promo" id="applyPromocode">Apply</span>
                                            </div>
                                        </div>
                                        <p class="total-amt">Order Total: <span id="orderTotal">${{ cartTotal }}</span></p>
                                        <p class="total-amt">Discount: <span id="discountAmount">$0.00</span></p>
                                        <p class="total-amt">Shipping Price: <span class="shippingPrice">$0.00</span></p>
                                        <p class="grand-total">Remaining Amount: <span
                                                    id="remainingAmount">${{ cartTotal }}</span></p>
                                        <input type="hidden" id="tempValue" value="{{ cartTotal }}">
                                    </div>
                                </div>
                                <div class="checkout-div">
                                    <a class="btn btn-ind-store" data-next-step="#step4" href="#">Place Your
                                        Order</a>
                                </div>
                            </div>
                        </div>
                        <div class="policy-note">
                            <p>By clicking place order now, you accept and agree to the Superhandles <a>sales and
                                    refund policy</a>.</p>
                        </div>
                    </div>
                </div>
                <!-- End Payment & Review -->
                <!-- Start payment methods -->
                <div id="step4">
                    <div class="cart-fc-div">
                        <h4>Payment Mathod</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="pyment-section-dv">
                                    {% if paymentMethod is not null %}
                                        <input type="hidden" name="paymentAmmount" id="paymentAmmount"
                                               value="{{ cartTotal }}">
                                        {% for paymentData in paymentMethod %}
                                            <div class="form-group">
                                                <input type="radio" class="selectPaymentMode" name="checkout"
                                                       checked="checked"
                                                       value="{{ paymentData.id }}">{{ paymentData.description }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="previous-div">
                                    <a class="btn btn-ind-store" data-previous-step="#step3" href="#">Go To Previous
                                        Step</a>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="checkout-div text-right">
                                    <button type="submit" class="btn btn-ind-store">Go to Payment Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#billAddress").change(function () {
                quickAjax("{{ path('front_checkout_ajax_address_detail') }}", {"id": $(this).val()}, function (jsondata) {
                    if (jsondata) {
                        $.each(jsondata, function (key, value) {
                            $("#order_address_form_" + key).val(value);
                            if ($("#same-address").prop("checked")) {
                                $("#order_address_form_" + key).val(value);
                            }
                        });
                    } else {
                        $(".form-control").each(function (data) {
                            if ($(this).attr('status') == 'billing') {
                                $(this).val("");
                            }
                        });
                    }
                    if ($("#same-address").prop("checked")) {
                        $(".form-control").each(function (data) {
                            if ($(this).attr('status') == 'shipping') {
                                $(this).val($("#order_address_form_"+$(this).attr('dataName')).val());
                            }
                        });
                    }
                });
            });
            $("#shipAddress").change(function () {
                quickAjax("{{ path('front_checkout_ajax_address_detail') }}", {"id": $(this).val()}, function (jsondata) {
                    if (jsondata) {
                        $.each(jsondata, function (key, value) {
                            if ($("#order_address_form_" + key).attr('status') == 'shipping') {
                                $("#order_address_form_" + key).val(value);
                            }
                        });
                    } else {
                        $(".form-control").each(function (data) {
                            if ($(this).attr('status') == 'shipping') {
                                $(this).val("");
                            }
                        });
                    }
                });
            });

            $(".addressFormData .form-control").keyup(function () {
                if ($("#same-address").prop("checked")) {
                    if ($(this).attr('status') == 'billing') {
                        $("#order_address_form_"+$(this).attr('dataName')).val($(this).val())
                    }
                }
            });
            $("#order_address_form_billingCountry").change(function () {
                if ($("#same-address").prop("checked")) {
                    if ($(this).attr('status') == 'billing') {
                        $("#order_address_form_"+$(this).attr('dataName')).val($(this).val())
                    }
                }
            });
            defaultsShippinngAddress();
            $("#same-address").click(function () {
                defaultsShippinngAddress();
            });
            $("#applyPromocode").click(function () {
                if($('#promocode').val()) {
                    quickAjax("{{ path('front_checkout_ajax_promocode') }}", {"promocode": $('#promocode').val()}, function (jsondata) {
                        if (jsondata) {
                            $remAmount = $("#paymentAmmount").val();
                            if (jsondata.couponApplyed) {
                                $("#discountAmount").text("$" + jsondata.discountAmount);
                                $("#remainingAmount").text("$" + (jsondata.remainingAmount).toFixed(2));
                                $("#applysuccess").show();
                                $("#applyerror").hide();
                                $("#blankcode").hide();
                            } else {
                                $("#discountAmount").text("$" + jsondata.discountAmount);
                                $("#remainingAmount").text("$" + jsondata.remainingAmount);
                                $("#applysuccess").hide();
                                $("#applyerror").show();
                                $("#blankcode").hide();
                            }
                        } else {
                            $("#applysuccess").hide();
                            $("#applyerror").show();
                            $("#blankcode").hide();
                        }
                    });
                } else {

                    $("#discountAmount").text("$0");
                    $("#remainingAmount").text("$"+(parseFloat($("#tempValue").val()) + parseFloat($("#tempValue").attr('totalShipAmount'))).toFixed(2));
                    $("#applysuccess").hide();
                    $("#applyerror").hide();
                    $("#blankcode").show();
                }
            });
            $(document).on("click", "#formSubmit", function (e) {
                e.preventDefault();
                var url = "{{ path('front_checkout_cart') }}";
                var formSerialize = $("#addressForm").serialize();

                if ($("#addressForm").valid()) {
                    $.post(url, formSerialize, function (response) {
                        //your callback here
                        $("#tempValue").attr('totalShipAmount', response.totalShippingAmount);
                        $(".shippingPrice").text("$"+(response.totalShippingAmount).toFixed(2));
                        $("#remainingAmount").text("$"+(response.remainingAmount).toFixed(2));
                        toastr["info"]("Your order address Update");
                    }, 'JSON');
                }
            });
        });

        function defaultsShippinngAddress() {
            if ($("#same-address").prop("checked")) {
                $("#shippingDetails").hide();
            } else {
                $("#shippingDetails").show();
            }
        }
    </script>
{% endblock %}
