<div class="modal fade" id="product_list-detail" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Product Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="pro-g-center-inner">
                                <img src="../images/store-img/t-shirt1.png" alt="img" id="clothImage"/>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="inner-pro-details-g">
                                <h4 id="clothTitle">The Ball Shirt - Black</h4>
                                <span id="clothPrice">$24.99</span>
                            </div>
                            <div class="prd-in-details">
                                <p id="clothDescription">Adult sizes are 100% ring-spun cotton (30 singles) and have
                                    been enzyme washed
                                    for a super soft feel. Youth sized shirts are made of 100% cotton (6 oz shirt)
                                    with a traditional feel and are pre-shrunk. Please select your size and
                                    quantity.</p>
                            </div>
                            <div class="prd-select-itm">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="fname">Size</label>
                                                <select class="form-control" id="productSize" name="productSize">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="fname">Quantity</label>
                                                <select class="form-control" id="productQty" name="productQty">
                                                    {% for i in range(1, MAX_PURCHASE_QUANTITY) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="prd-link-b">
                                        <button type="submit" class="btn btn-cl-buy addtoCart productId" data-dismiss="modal"><i
                                                    class="fas fa-shopping-cart"></i>Add to Cart
                                        </button>
                                        {#<button type="submit" class="btn btn-cl-buy" data-dismiss="modal"><i#}
                                                    {#class="fas fa-money-bill"></i>Buy Now#}
                                        {#</button>#}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
