<div class="modal fade" id="product_list-detail-dvd" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select product to purchase</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="submit" class="btn btn-cl-buy addtoCart streamProductId" data-dismiss="modal">I want the Streaming version
                            </button><br><br>
                            <button type="submit" class="btn btn-cl-buy addtoCart dvdProductId" data-dismiss="modal">I want the DVD version
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
