<tfoot class="main_footer">
<tr>
    <td colspan="3"
        style="margin: 0;padding: 15px 40px;text-align: center;background-color: #F9F9F9;vertical-align: top">
        <center>
            <p class="site_info" style="margin: 0 0 7px 0;padding: 0">
                <a target="_blank" href="{{ SITE_URL }}"
                   style="text-decoration: none;color: #565656">
                    <span style="color: #565656">{{ SITE_NAME }}</span>
                </a>
            </p>
            <p class="site_urls"
               style="margin: 0;padding: 10px 0 0 0;border-top: solid 1px #CCC;font-size: 11px;color: #565656">
                <a href="{{ SITE_URL }}" target="_blank"
                   style="text-decoration: none;color: #565656">Home</a>
                |
                <a href="{{ SITE_URL }}/about" target="_blank"
                   style="text-decoration: none;color: #565656">About Us</a>
                |
                <a href="{{ SITE_URL }}/faq" target="_blank"
                   style="text-decoration: none;color: #565656">F.A.Q</a>
                |
                <a href="{{ SITE_URL }}/privacy-policy" target="_blank"
                   style="text-decoration: none;color: #565656">Privacy Policy</a>
                |
                <a href="{{ SITE_URL }}/terms-and-conditions"
                   target="_blank" style="text-decoration: none;color: #565656">Terms and
                    Conditions</a>
                |
                <a href="#" target="_blank"
                   style="text-decoration: none;color: #565656">Contact Us</a>
            </p>
        </center>
    </td>
</tr>
</tfoot>
<!-- END FOOTER -->