
                    <!-- HEADER -->
                    <thead class="main_header">
                    <tr>
                        <td class="row1"
                            style="margin: 0;padding: 3px 0 3px 10px;height: 40px;vertical-align: middle;border-right: solid 1px #fff;color: #fff;background-color: #5DC4FF;width: 38%">
                            <a target="_blank" href="{{ SITE_URL }}"
                               style="text-decoration: none;outline: none;color: #fff;font-size: 15px">
                                <img src=""{{ absolute_url(asset('images/logo.png')) }}"
                                     alt="{{ SITE_NAME }}" style="border: 0"/>
                            </a>
                        </td>
                        <td class="row2"
                            style="margin: 0;padding: 0 0 0 15px;height: 40px;vertical-align: middle;border-left: solid 1px #fff;color: #fff;background-color: #5DC4FF;width: 1%">
                            <a target="_blank" href="{{ SITE_URL }}/contact"
                               style="text-decoration: none;outline: none;color: #fff;font-size: 15px">
                            </a>
                        </td>
                        <td class="row3"
                            style="margin: 0;padding: 0 15px 0 5px;height: 40px;vertical-align: middle;background-color: #5DC4FF;width: 8%">
                            <a target="_blank" href="{{ SITE_URL }}/contact"
                               style="text-decoration: none;outline: none;color: #fff;font-size: 15px">
                                <span style="font-size: 10px;color: #fff;line-height: 14px">CONTACT</span>
                            </a>
                        </td>
                    </tr>
                    </thead>