{% extends "admin/emails/template.html.twig" %}

{% block body_html %}
    <tbody class="main_body">
    <tr>
        <td colspan="3" style="margin: 0;padding: 0">
            <table class="inner_body" cellpadding="0" cellspacing="0" style="width: 100%">
                <!-- GREETING TEXT-->
                <tbody>
                <tr>
                    <td class="main_column"
                        style="margin: 0;padding: 25px;vertical-align: top;border-bottom: 1px solid #E6E6E6;background-color: #F9F9F9;width: 100%;text-align: left">
                        <p class="user_init"
                           style="margin: 0;padding: 0 0 0 0;font-size: 14px;font-weight: bold"> Hi
                            <b>{{ name }}</b>,
                        </p>
                        <div class="message"
                             style="margin: 0;padding: 20px 0;color: #565656;font-size: 12px">
                            <p>Thanks a lot for registering for an account
                                at <a href="{{ SITE_URL }}">{{ SITE_NAME }}</a>
                            </p>
                            <p>You now have your very own Hoopfolio page. Hoopfolio is a social network
                                for basketball players with many useful and fun features. You can edit
                                your profile from your account page, post photos and videos on your
                                wall, and start communicating with other Hoopfolio users.
                            </p>
                            <p>In addition, you now have access to the free resources and the free
                                leaderboard categories.
                            </p>
                            <p><b>Note:</b> You have received this email because this email address was
                                used during registration for our website. If you did not register at our
                                website, please disregard this email. You do not need to unsubscribe or
                                take any further action.
                            </p>
                            <p>We look forward to helping you gain the Superhandles Advantage over your
                                competition.
                            </p>
                            <p>All the best,<br/>Jon Hildebrandt</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>

{% endblock %}