{# src/AppBundle/Mail/template.html.twig #}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="ROBOTS" content="NOINDEX,NOFOLLOW"/>
</head>
<body style="width: 100%;height: 100%;margin: 0;font-size: 13px;font-family: arial, tahoma, verdana, sans-serif;color: #333;background-color: #fff;padding: 0">
<br/>
<table class="main_table" cellpadding="0" cellspacing="0"
       style="color: #333;font-size: 13px;font-family: Arial, Tahoma, Verdana, sans-serif;width: 100%">
    <tr>
        <td class="main_column" style="margin: 0;padding: 0;vertical-align: top">
            <center>
                <table class="inner_table" cellpadding="0" cellspacing="0" style="border: 0 none;width: 600px">
                    <!-- HEADER -->
                    {{ include('admin/emails/header.html.twig') }}
                    <!-- END HEADER -->
                    <!-- CONTENT -->
                    {% block body_html %} <p>default body</p> {% endblock %}
                    <!-- END CONTENT -->
                    <!-- FOOTER -->
                    {{ include('admin/emails/footer.html.twig') }}
                    <!-- END FOOTER -->
                </table>
            </center>
        </td>
    </tr>
</table>
</body>
</html>

