.tab-content {
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #cb1d20;
}
.nav-item a:hover {
	color: #cb1d20;
}
.media-screen {
	width: 100%;
    display: inline-block;
    position: relative;
    background: #ffffff;
    padding: 20px 0;
}

.allvideo-div {
	width: 100%;
	display: inline-block;
	margin: 15px 0;
}
.inner-media {
	width: 100%;
	display: block;
	padding: 20px 0;
	border-bottom: 2px solid #cccccc;
}
.media-content-div {
	width: 100%;
	display: block;
	padding: 0 15px;
}
.media-content-div h5 {
	font-size: 22px;
	line-height: 28px;
	color: #000000;
}
.media-content-div p {
	font-size: 13px;
	line-height: 22px;
	text-align: left;
}
.inner-media-even {
	width: 100%;
	display: block;
	padding: 20px 0;
	background: #fcfcfc;
	border-bottom: 2px solid #cccccc;
}
.inner-media:last-child {
	border-bottom: none;
}
.inner-media-even:last-child {
	border-bottom: none;
}


#store {
	margin: 10px 0;
}

.info-panel {
	display: block;
    width: 100%;
    margin-bottom: 15px;/* change from 20px */
    border-bottom: 1px solid #ccc;
}
.info-panel-right-section {
  width: 100%;
  float: none;
  padding: 5px 0 15px;
  line-height: 15px;
  text-align: right;
}

.info-panel-right-section ul {
  margin : 0
}

.info-panel-right-section ul li {
  font-size: 13px;
  color: #000000;
  display: inline;
  padding: 0 10px;
}
.info-panel-right-section ul li a{
  font-size: 13px;
  color: #000000;
  display: inline;
  padding: 0 10px;
}

.info-panel-right-section ul li:first-child {
  padding-left: 0;
}

.info-panel-right-section ul li a i {
  padding-right: 10px;
  color: #c92027;
}

.store-main-div {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

/* store page first layout */

.store-part-div {
  width: 100%;
  margin-bottom: 40px;
  background: #ffffff;
  padding: 0;
  display: inline-block;
  box-shadow: 1px 4px 12px #cccccc;
  -webkit-box-shadow: 1px 4px 12px #cccccc;
}

.store-part-div:hover .store-img-left img {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.store-img-left, .store-img-right {
  height: 330px;
  width: 100%;
  overflow: hidden; 
}

.store-img-left img {
  text-align: center;
  transform: translate(0px, 0px);
}

.store-img-right img {
  text-align: center;
  width: 100%;
  height: 100%;
  
}

.store-part-div:hover .store-img-right img {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.store-details {
  width: 100%;
  margin: 0;
  padding: 75px 15px;
  display: inline-block;
  max-height: 330px;
}

.store-details h3 {
  font-size: 25px;
  text-align: center;
  color: #000000;
}

.stores-dec {
  padding: 20px 0;
  width: 100%;
}

.stores-dec p {
  line-height: 26px;
  text-align: center;
}

.btn.btn-store {
  background: #c92027;
  border-radius: 10px;
  padding: 8px 25px;
  font-size: 14px;
  line-height: 1.33;
      border-bottom-width: 0;
}

.btn-store {
  color: #ffffff;
  margin: 0 34%;
  display: block;
  text-align: center;
  transition: 1s all;
  -webkit-transition: 1s all;
}

.btn-store:focus {
  outline: none;
}

.store-part-div:hover .btn-store {
  background: #000000;
  color: #ffffff;
  transition: 1s all;
  -webkit-transition: 1s all;
  box-shadow: 1px 5px 14px #bbbbbb;
  -webkit-box-shadow: 1px 5px 14px #bbbbbb;
}


/* second design layout */

.store-part-div1 {
  width: 100%;
  margin-bottom: 40px;
  background: #000000;
  padding: 0;
  display: inline-block;
  box-shadow: 1px 4px 12px #cccccc;
  -webkit-box-shadow: 1px 4px 12px #cccccc;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.store-layer {
	display: block;
	opacity: .7;
}

.store-part-div1:hover .store-img-left1 img {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #000000;
  opacity: .2;
  cursor: pointer;
}

.store-img-left1 {
  height: 250px;
  width: 100%;
  overflow: hidden; 
  position: relative;
}

.store-img-left1 img {
  text-align: center;
  transform: translate(0px, 0px);
}


.store-details1 {
	width: auto;
	margin: 0 auto;
	 padding: 0 25px; 
	display: block;
	/* max-height: 330px; */
	top: 52px;
	position: absolute;
	left: 0;
	right: 0;
	transform: translateY(40px);
}

.store-details1 h3 {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.stores-dec1 {
  padding: 20px 0;
  width: 100%;
}

.stores-dec1 p {
  line-height: 26px;
  text-align: center;
}


.btn-store1 {
  color: #ffffff;
  margin: 0 30%;
  display: block;
  text-align: center;
  background: #c92027d1;
  border-radius: 10px;
  border: 1px solid #c92027d1;
  padding: 8px 25px;
  font-size: 14px;
  line-height: 1.33;
  transition: 1s all;
  -webkit-transition: 1s all;
}

.btn-store1:focus {
  outline: none;
}

.store-part-div1:hover .btn-store1 {
  background: transparent;
  color: #ffffff;
  transition: 1s all;
  -webkit-transition: 1s all;
  border: 1px solid #ffffff;
}

.product_list-main-div {
	width: 100%;
	display: block;
	border: 1px solid #acacac;
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
	padding: 20px 0;
	margin-top: 20px;
	text-align: center;
	
}
.pro-g-center {
	margin: 15px 0;
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #acacac;
	padding-bottom: 42px;
}
.pro-g-center img {
	max-width: 100%;
	width: 150px;
}
.pro-l-content-d {
	width: 100%;
	display: block;
	position: relative;
	padding: 30px 15px 20px;
}
.produc-price-l {
	width: auto;
	margin: 0 50px;
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	background: #c1c1c1;
	box-shadow: 0px 0px 10px #bdbdbd;
	-webkit-box-shadow: 0px 0px 10px #bdbdbd;
	padding: 10px;
	top: 0;
    transform: translateY(-40px);
}
.produc-price-l p {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0;
	color: #ffffff;
}

.product_list-main-div:hover .pro-l-content-d > p {
	display: none;
}
.produc-price-l span {
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	padding-left: 15px;
	font-weight: 600;
}

.pro-l-content-d h4 {
	font-size: 20px;
	text-align: center;
	color: #ca2027;
	min-height: 55px;
    vertical-align: bottom;
}
.pro-l-content-d h4 a {
	color: #ca2027;
}
.pro-l-content-d p {
	text-align: center;
	margin-bottom: 0;
	transition: 0.4s all;
	-webkit-transition: 0.4s all;
}
.btn-inner-store {
	background: #ca2027;
    border-radius: 30px;
    font-size: 14px;
    line-height: 1.53;
    color: #ffffff;
    margin: 0 18%;
    display: block;
    text-align: center;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    box-shadow: 1px 1px 8px #ca2027a1;
    -webkit-box-shadow: 1px 1px 8px #ca2027a1;
    border: 1px solid #ca2027;
}
.btn-inner-store i {
	margin-right: 15px;
}
.product_list-main-div:hover a.btn-inner-store {
	color: #ca2027;
	border: 1px solid #ca2027;
	background: transparent;
	box-shadow: none;
}
.btn-inner-store:focus {
	color: #ffffff;
	box-shadow: unset;
}
.buy-section {
	width: 100%;
	display: none;
	transition: 0.4s all;
	-webkit-transition: 0.4s all;
}

.product_list-main-div:hover .buy-section {
	width: 100%;
	display: block;
	padding: 10px 15px 28px;
	transition: 1s all;
	-webkit-transition: 1s all;
}

.pro-g-center-inner {
	margin: 0 0 15px;
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px;
	border: 1px solid #cccccc;
}
.pro-g-center-inner img {
	max-width: 100%;
}
.inner-pro-details-g {
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}
.inner-pro-details-g h4 {
	font-size: 22px;
	color: #ca2027
}
.inner-pro-details-g span {
	font-size: 20px;
	color: #000000;
	font-weight: 600;
}
.prd-link-b {
	display: block;
	width: 100%;
	margin: 15px auto 0; 
	text-align: left;
}
.prd-in-details p a {
	color: #ca2027;
	margin-left: 10px;
	text-decoration: underline;
}
.btn-cl-buy {
	background: #ca2027;
    border-radius: 30px;
    font-size: 14px;
    line-height: 1.53;
    color: #ffffff;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    box-shadow: 1px 1px 8px #ca2027a1;
    -webkit-box-shadow: 1px 1px 8px #ca2027a1;
    border: 1px solid #ca2027;
}
.btn-cl-buy i {
	margin-right: 10px;
}
.prd-innr-dt-div {
	width: 100%;
	display: inline-block;
	margin: 10px 0;
}
h4.modal-title {
	font-size: 1.3rem;
}


/* new product list for individual session */

.ind_product_list {
	width: 100%;
	display: block;
	border: 1px solid #acacac;
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
	padding: 20px 0;
	margin-top: 0;
	text-align: center;
}
.ind-g-center {
	margin: 15px 0;
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #acacac;
	padding-bottom: 42px;
}
.ind-g-center img {
	max-width: 100%;
	width: 150px;
}
.ind-l-content-d {
	width: 100%;
	display: block;
	position: relative;
	padding: 30px 15px 0px;
	min-height: 200px;
}
.ind-price-l {
	width: auto;
	margin: 0 50px;
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	background: #dcdcdc;
	box-shadow: 0px 0px 10px #eaeaea;
	-webkit-box-shadow: 0px 0px 10px #eaeaea;
	padding: 10px;
	top: 0;
    transform: translateY(-40px);
}
.ind-price-l .left-heading {
	float: left;
	width: 100px;
}

.ind-price-l .left-heading p {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0;
	color: #000000;
}

.right-versions {
	float: right;
	display: inline-block;
	width: 120px;
}

.right-versions ul {
	margin: 0;
	padding: 0;
}
.right-versions ul li {
	display: inline;
	padding: 0 5px;
}

.right-versions ul li i {
	color: #ca2027;
	font-size: 18px;
}

.ind-price-l span {
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	padding-left: 15px;
	font-weight: 600;
}

.ind-l-content-d h4 {
	font-size: 20px;
	text-align: center;
	color: #ca2027;
}
.ind-l-content-d p {
	text-align: center;
	margin-bottom: 0;
}
.btn-ind-store {
	background: #ca2027;
    border-radius: 30px;
    font-size: 13px;
    line-height: 1.53;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    text-align: center;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    box-shadow: 1px 1px 8px #ca2027a1;
    -webkit-box-shadow: 1px 1px 8px #ca2027a1;
    border: 1px solid #ca2027;
    padding: 8px 22px;
}
.btn-ind-store i {
	margin-right: 10px;
}
a.btn-ind-store:hover {
	color: #ca2027;
	border: 1px solid #ca2027;
	background: transparent;
	box-shadow: none;
}
.btn-ind-store:focus {
	color: #ffffff;
	box-shadow: unset;
}
.pagination-main-dv {
	width: 100%;
	display: block;
	margin: 20px 0;
	text-align: center; 
}
.pagination-main-dv ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.pagination-main-dv ul li {
	display: inline;
}
.pagination-main-dv ul li a {
	display: inline;
	font-size: 14px;
	text-align: center;
	padding: 10px 15px;
	border: 1px solid #ca2027;
	border-radius: 5px;
	transition: .2s all;
	-webkit-transition: .2s all;
}
.pagination-main-dv ul li a:hover {
	background: #ca2027;
	color: #ffffff;
	cursor: help;
}
.pagination-main-dv ul li a:focus {
	color: #ca2027;
}
.view-prd-dtls {
	width: 100%;
	display: inline-block;
	margin: 10px 0 20px;
	text-align: center;
}
.view-prd-dtls a {
	color: #000000;
	font-size: 16px;
	text-decoration: underline;
}
.cart-fc-div {
	width: 100%;
	display: block;
	margin: 0;
	padding: 25px;
	border: 2px solid #efefef;
}
.cart-fc-div > h4 {
	font-size: 22px;
	text-transform: capitalize;
	margin-bottom: 25px;
	border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    color: #2d2d2d
}
.cart-details {
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #e7e7e7;
	padding: 25px 15px;
}
.cart-details img {
	max-width: 100%;
}
.cart-right-details {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.cart-fc-div .cart-right-details h4 {
	font-size: 22px;
	text-transform: capitalize;
	color: #ca2027;
	margin-bottom: 15px;
}
.cart-fc-div .cart-right-details h6 {
	font-size: 18px;
	text-transform: capitalize;
	color: #ca2027;
	margin-bottom: 15px;
}
.cart-right-details > span {
	color: #000000;
	font-weight: 600;
	font-size: 20px;
}
.cart-right-details > span > i {
	font-size: 15px;
	vertical-align: middle;
	color: #ca2027;
}
.cart-right-details p {
	font-size: 14px;
	font-weight: 600;
	color: #a9a9a9;
    margin-top: 10px;
    margin-bottom: 12px;
}
.cart-right-details p span {
	font-size: 14px;
	color: #000000;
	margin-left: 15px;
}
.btn-decrement {
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
}
.btn-increment {
    border: 1px solid #ced4da;
    border-radius: 0 5px 5px 0;
}
.btn-outline-secondary:hover {
	background-color: #cc1e22;
    border-color: #cc1e22;
}
.counter-div {
	display: inline-block;
    text-align: left;
    width: 50%;
}
.cart-right-payment {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.cart-fc-div .cart-right-payment h4 {
	font-size: 22px;
	text-transform: capitalize;
	color: #ca2027;
	margin-bottom: 15px;
}
.cart-right-payment > span {
	color: #000000;
	font-weight: 600;
	font-size: 20px;
}
.cart-right-payment > span > i {
	font-size: 15px;
	vertical-align: middle;
	color: #ca2027;
	margin-left: 20px;
}
.cart-right-payment p {
	font-size: 14px;
	font-weight: 500;
	color: #a9a9a9;
    margin-top: 10px;
}
.cart-right-payment p:last-child {
	margin-bottom: 0;
}
.cart-right-payment p span {
	font-size: 14px;
	color: #000000;
	margin-left: 15px;
	float: right;
}
.cart-right-payment p span a {
	text-decoration: underline;
}
.cart-right-payment p span a:hover {
	color: #ca2027;
}
.final-price {
	text-align: left;
    width: 100%;
    display: inline-block;
    border-top: 1px solid #dddddd;
    margin-top: 20px;
    padding-top: 10px;
    /*border-bottom: 1px solid #dddddd;*/
}
.cart-lft-div {
	margin: 20px 0 0;
	text-align: right;
}
.checkout-div {
	display: block;
	text-align: right;
	margin: 20px 0 0;
}
p.grand-total > span {
	font-size: 18px;
	color: #cc1d1f;
	font-weight: 600;
}
p.total-amt > span {
	font-size: 15px;
	color: #000000;
	font-weight: 600;
}
.cart-section-dv {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	border-bottom: 1px solid #efefef;
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn-ind-delt {
	background: #ca2027;
    border-radius: 30px;
    font-size: 13px;
    line-height: 1.53;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    text-align: center;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    box-shadow: 1px 1px 8px #ca2027a1;
    -webkit-box-shadow: 1px 1px 8px #ca2027a1;
    border: 1px solid #ca2027;
    padding: 5px 15px;
    margin: 10px 0;
}
.btn-ind-delt i {
	margin-right: 10px;
}
a.btn-ind-delt:hover {
	color: #ca2027;
	border: 1px solid #ca2027;
	background: transparent;
	box-shadow: none;
}
.btn-ind-delt:focus {
	color: #ffffff;
	box-shadow: unset;
}


/****************** checkout ****************/

.chkout-crt {
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #e7e7e7;
	padding: 15px 5px;
}
.chkout-crt img {
	max-width: 100%;
	width: 50%;
}
.chkout-prd-div {
	padding-bottom: 14px;
    padding-top: 10px;
}
.cart-right-details ul {
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}

.cart-right-details ul li {
	display: inline;
	margin: 5px 5px;
	font-weight: 600;
	font-size: 15px;
}
.cntr-div {
	margin-bottom: 15px;
}
.cart-fc-div textarea {
	border: 1px solid #ced4da;
	width: 100%;
}
p.shippping-amt {
	color: #ca2027;
}
p.shippping-amt span {
	color: #ca2027;
}
.cart-prom-div {
	margin: 2px 0 20px;
}

.btn-aply-promo {
	background: #ffffff;
    border-radius: 30px;
    font-size: 13px;
    line-height: 1.53;
    color: #ca2027;
    margin: 0;
    display: inline-block;
    text-align: center;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    border: 1px solid #ca2027;
    padding: 8px 22px;
}
.btn-aply-promo i {
	margin-right: 10px;
}
a.btn-aply-promo:hover {
	color: #ca2027;
	border: 1px solid #ca2027;
	background: transparent;
	box-shadow: none;
}
.btn-aply-promo:focus {
	color: #ffffff;
	box-shadow: unset;
}

.promotional-code-div .form-group {
	display: inline;
}

.promotional-code-div input[type=text] {
	width: 60%;
	float: left;
}
.policy-note {
	display: block;
	margin: 10px 0;

}
.policy-note p {
	font-size: 12px;
	color: #000000;
	text-align: center;
}
.policy-note > p > a {
	color: #ca2027 !important;
	text-decoration: underline !important;
}

input[type=checkbox], input[type=radio] {
	margin-right: 10px;
}
.payment-img {
	text-align: center;
	width: 100%;
}
.payment-img img {
	max-width: 100%;
}
.pyment-section-dv {
	width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-item {
  margin-right: 10px;
  text-align: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #cc1d1f;
  border-color: transparent !important; 
  border-radius: 10px;
  box-shadow: 0px 3px 11px #ce1a1375;
  -webkit-box-shadow: 0px 3px 11px #ce1a1375;
}
.nav-tabs .nav-link {
    border: none; 
    background: #3c3c3c;
    color: #ffffff;
    border-radius: 10px;
}

.chk-out-steps {
	width: 100%;
	display: block;
	margin: 15px 0;
}

.chk-out-steps .tab-content {
	border: none;
}

.chk-out-steps .nav-item a:hover {
	color: #ffffff;
}
.cart-return-div {
	padding: 68px 0;
	width: 100%;
    position: relative;
    margin: 0;
    height: auto;
}
.no-mrgn {
	margin: 0;
}
.cart-heading {
	width: 100%;
	padding: 28px 40px;
    display: inline-block;
}
.bottom-ftr-div {
	width: 100%;
	display: block;
	border-top: 1px solid #e0e0e0;
	padding: 20px 0 0;
}
.bottom-ftr-div > .form-group {
	margin: 0;
}
