@media (min-width: 1600px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #cb1f21;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.1em 0.6em !important;
  }
  #mainNav .navbar-nav .nav-item .nav-link i {
  	color: #ca1f26;
  	margin-right: 5px;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  #store {
	margin: 40px 0;
  }
  .inner-page_bg {
  	padding: 30px 0;
  	margin-top: 108px;
  }
  .page_header h2 {
  	font-size: 36px;
  }
  
  .info-panel {
	    display: block;
	    width: 100%;
	    margin-bottom: 30px;
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 10px;
	}
	.prd-innr-dt-div { 
		margin: 10px 0;
	}
	.prd-link-b {
		margin: 20px auto 20px;
	}
	.media-screen {
	    padding: 90px 0;
	}
	.ind-l-content-d {
		padding: 40px 15px 20px;
	}
	.btn-ind-store {
		font-size: 14px;
	}
	.ind_product_list {
		margin-top: 20px;
	}
	.view-prd-dtls {
		margin: 10px 0 20px;
	}
	.static-bottom-ftr {
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	}
	.cart-fc-div > h4 {
		font-size: 25px;
	}
	.g-mb-100 {
	    margin-bottom: 2rem !important;
	}
	.black-bg {
	    margin-bottom: 0px;
	}
}


@media (max-width: 1366px) {
  
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.1em 0.6em !important;
  }
  #mainNav .navbar-nav .nav-item .nav-link i {
  	color: #ca1f26;
  	margin-right: 5px;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  .carousel-item {
		height: 650px;
  }
 
  
  
  
}


@media screen and (max-width: 1200px) {
	.btn-view-more {
		margin: 0;
	}
	.university-info {
		margin-top: 180px;
		margin-bottom: 0px;
	}
	.bg-text {
		display: none;
	}
	.btn-view-more-red {
		margin: 0 5%;
	}
	.footer ul li {
		font-size: 12px;
	}
	.nav-link i {
		display: none;
	}
	.university-div {
		padding: 35px 20px;
	}
	
}
/* for ipad and iphone resolution */
@media screen and (max-width: 1024px) {
	.carousel-item {
		height: 500px;
	}

	.full-slider .container {
		top: 120px;
	}
	#mainNav .navbar-nav .nav-item .nav-link {
		
	    padding: 0.1em 0.6em !important;
	
	}

	.university-info {
		margin-top: 150px;
    	margin-bottom: 10px;
	}
	.bg-text {
		display: none;
	}
	.btn-view-more-red {
		margin: 0 5%;
	}
	.video-div iframe {
		height: 280px;
	}

	.btn-view-more {
		margin: 0;
	}

	.footer ul li {
		font-size: 10px;
	}
	.university-div {
		padding: 35px 15px;
	}
	.topbar {
		display: none;
	}
	.nav-link i {
		display: none;
	}
	.detail-info {
		margin: 10px 0;
	}
	.banner-text p {
	    font-size: 35px;
	    line-height: 48px;
	    color: #ffffff;
	    text-align: center;
	    margin-bottom: 0;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	.workout-info ul li {
		margin: 0 1px;
	}
	.camp-section-div {
		min-height: 435px;
	}
	.store-details {
		padding: 35px 15px;
	}
	.btn-store1 {
		margin: 0px 25%;
	}
	.btn-ind-store {
		padding: 8px 15px;
	}
	.ind-price-l .left-heading {
		width: 130px;
	}
	.ind-price-l .left-heading p {
		font-size: 13px;
	}
	.left-heading ul li {
		font-size: 14px;
	}
	.right-versions {
		width: 110px;
	}
	.right-versions p {
		font-size: 13px;
	}
	.right-versions ul li i {
		font-size: 15px;
	}
	.pagination-main-dv ul li {
		display: inline-block;
	    margin: 10px 0;
	    position: relative;
	}
	#store {
	    margin: 40px 0 0;
	}
}



@media screen and (max-width: 991px) { 
	
	.banner-text p {
	    font-size: 25px;
	    line-height: 32px;
	    color: #ffffff;
	    text-align: center;
	    margin-bottom: 0;
	}
	.detail-info {
		margin: 30px 0;
	}
	form#main-access-from {
	    display: block;
	}
	
	form {
		display: block;
	}
	.logindiv-heading {
		padding: 125px 30px;
	}
	.btn.btn-login {
		width: 100%;
	}
	.btn.btn-register {
		width: 100%;
	}
	.footer {
		text-align: center;
		float: none;
	}
	.footer ul li {
		padding: 0 12px;
	}
	.social {
		text-align: center;
		float: none;
	}
	.social ul li {
		float: none;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	#calendar h2 {
		margin-top: 30px;
	}
	.profile-section {
		height: auto;
	}
	.cart-fc-div {
		margin-bottom: 20px;
	}
	.cart-details {
		margin-bottom: 20px;
	}
	input[type=text] {
		margin: 0 !important;
	}
	.checkout-div {
		text-align: center;
	}
	.cart-right-details {
		text-align: center;
	}
	.cart-lft-div {
		text-align: center;
	}
	.chkout-crt {
		margin-bottom: 15px;
	}
	.nav-tabs .nav-item {
		margin-right: 3px;
	}
	.nav-tabs .nav-link {
		font-size: 12px;
	}
	.previous-div {
		text-align: center;
    	margin: 20px 0 20px;
	}
	.btn-ind-store {
		margin: 5px 0;
	}
	.black-bg {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 768px) {
	.menu__item {
		width: 100%;
	}
	.btn-get-access {
		margin: 15px;
	}
	.sports_men-div {
		display: none;
	}
	.university-info {
		margin-top: 330px;
		text-align: right;
	}
	#products {
		height: auto;
	}
	.youth-div h4 {
		min-height: 0;
	}
	.footer {
		float: none;
	}
	.footer ul li {
		padding: 0 12px;
	}
	.social {
		text-align: center;
		float: none;
	}
	.social ul li {
		float: none;
	}
	form {
		display: block;
	}
	form#main-access-from {
	    display: block;
	}
	.carousel-item {
		height: 600px;
	}
	.full-slider .container {
		top: 90px;
	}
	.menu-right {
		width: 100%;
	}
	.basketball-div {
		height: 830px;
	}
	.logindiv-heading {
		padding: 150px 30px;
	}
	.btn.btn-login {
		width: 100%;
	}
	.btn.btn-register {
		width: 100%;
	}
	
	.topbar {
		display: none;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	.profile-section {
		height: auto;
	}
	.profile-img {
		width: 150px;
	}
	.upload-pic p {
		margin-bottom: 0;
	}
	.media-div h4 {
		font-size: 18px;
		margin-top: 15px;
	}
	.post-comment ul li {
		display: inline-block;
	}
	.media-div {
		display: inline-block;
	}
	.media-inner-div {
	    display: inline-block;
	    background: #f9f9f9;
	    padding: 0 15px;
	}
	.attachment-left {
		width: 100%;
	}
	.attachment-left ul {
		text-align: center;
		margin-bottom: 10px;
	}
	.share-right {
		text-align: center;
	}
	.r-tabs .r-tabs-panel {
		padding: 15px 0;
	}
	.hoopfolio-pics {
		height: 100px;
	}
	.workout-info {
		padding: 7px 5px;
	}
	.workout-info ul li {
		font-size: 8px;
	}
	#calendar h2 {
		margin-top: 25px;
	}
	.r-tabs {
		transform: translateY(0);
	}
	.camp-section-div {
		min-height: 615px;
	}
	.store-details {
		max-height: 100%;
	}
	.btn-store {
		margin: 0 24%;
	}
	.prd-link-b {
		text-align: center;
	}
	.btn-cl-buy {
		margin: 10px;
    	display: inline-block;
	}
	.promotional-code-div .form-group {
	    display: block;
	}
	.promotional-code-div input[type=text] {
	    width: 100%;
	     float: none; 
	}
	.cart-prom-div {
		text-align: center !important;
	}
}

@media screen and (max-width: 767px) {
	.carousel-item {
		height: 380px;
		margin-top: 105px;
	}
	.banner-text p {
		font-size: 18px;
    	line-height: 25px;
	}
	.btn-get-access {
		margin: 0;
	}
	form {
		width: auto;
		display: block;
	}
	form#main-access-from {
	    display: block;
	}
	.detail-info {
		margin: 15px 0;
	}
	input[type=text] {
		width: 100%;
	    padding: 5px 20px;
	    margin: 8px 0;
	    font-size: 15px;
	}
	.inner-page_bg {
		padding: 40px 0;
	}
	.university-info {
		margin-top: 360px;
    	text-align: center;
	}
	#gallery {
		background: unset;
	}
	#appriciation {
		background: #f1f5f8;
	}
	.footer {
		text-align: center;
	}
	.topbar {
		display: block;
	}
	.menu-right {
		width: 100%;
	}
	
	.reg_info {
		display: inline-block;
	}
	.basketball-div {
		display: none;
	}
	.regi_deta {
		display: none;
	}
	.logindiv-heading {
		padding: 20px;
	}
	.btn.btn-login {
		width: 100%;
	}
	.btn.btn-register {
		width: 100%;
	}
	#my-account {
		padding: 40px 0;
	}
	.university-div {
		padding: 15px 15px;
	}
	.topbar {
		display: none;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	.carousel-control-next, .carousel-control-prev {
		z-index: 111;
	}
	.university-category {
		margin: 0;
	}
	.camp-section-div {
		min-height: unset;
		margin-bottom: 20px;
	}
	.media-content-div {
		margin-bottom: 10px;
	}
	.media-content-div h5 {
		text-align: center;
	}
	.media-content-div p {
		text-align: center;
	}
	.info-panel-right-section {
		text-align: left;
	}
	.info-panel-right-section ul li {
		display: inline-block;
	    padding: 10px 0;
	    width: 100%;
	}
	.prd-link-b {
		margin: 15px auto 15px;
	}
	.nav-link {
	    display: block;
	    padding: 8px;
	    margin: 5px 0;
	}
	.nav-tabs .nav-item {
		margin-right: 10px;
		display: block;
		width: 100%;
	}
	.g-font-size-16 {
		font-size: 10px !important;
	}

}

@media screen and (max-width: 560px) {
	.footer {
		display: none;
	}
	.media-content-div h5 {
		font-size: 18px;
	}
	.nav-tabs .nav-link {
		font-size: 11px;
	}
}

@media screen and (max-width: 320px) {
	.university-info {
		margin-top: 380px;
	}
	.nav-tabs .nav-link {
		font-size: 10px;
	}
}
