#register_username_help {
    font-weight: bold;
}

#mainNav .navbar-nav .nav-item.active a,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ca2027;
}

label.required:after {
    content: "*";
    color: #ff0000;
}

.cms-pages .form-heading p {
    text-align: left;
}

.headline-text p {
    font-weight: bold;
}

form.login-class {
    max-width: 382px !important;
}

form[name="register"] fieldset.form-group {
    margin-bottom: 0px;
}

.billing-css {
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.final-price-coach {
    text-align: left;
    width: 100%;
    display: inline-block;
}
