

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,900');



*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  /*padding-top: 100px;*/
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  line-height: 26px;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
a {
  color: #000000;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 36px;
  color: #cf010d;
  text-transform: capitalize;
  position: relative;
  /*padding-bottom: 20px;*/
  margin: 0 0 10px;
  text-transform: uppercase;
}
/*.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}*/
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #c6261c;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 8px 25px;
  float: right;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #474747;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #565656;
  font-size: 14px;
}
input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #565656;
  font-size: 14px;
}

input[type=text].home-text  {
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  border: none;
  border-bottom: 2px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
}

.form-group {
  margin-bottom: 10px;
}

form {
  display: inline-block;
  width: 100%;
}

/************************************** header **************************************/


header {
  width: 100%;
  background: #ffffff;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.demo {
  width: 100%;
  display: inline-block;
}

.logo-left {
  margin: 0;
  padding: 0;
  display: block;
}

.menu-right {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.topbar {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

.topbar ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.topbar ul li {
  display: inline;
}

.topbar ul li a {
  display: inline;
  padding: 0 20px;
  font-size: 14px;
  color: #c92027;
  
}

.topbar ul li a i {
  color: #c92027;
  margin-right: 15px;
}

.main-menu {
  width: 100%;
  padding: 10px 0;
  display: inline-block;
}

.navbar-collapse {
  font-weight: 600;
}

/************************************** heading style **************************************/

.center-heading {
  display: inline-block;
  width: 100%;
}
.center-heading h3 {
  font-size: 35px;
  color: #ffffff;

}
.center-heading h3::after {
  content: '';
  border-bottom: 3px solid #ffffff;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.center-heading-red {
  display: inline-block;
  width: 100%;
}
.center-heading-red h3 {
  font-size: 35px;
  color: #c92027;

}
.center-heading-red h3::after {
  content: '';
  border-bottom: 3px solid #000000;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

/************************************** Animated Menu **************************************/


#mainNav {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #cb1f21;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #cb1f21;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  padding: 0.75em 7px;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#mainNav .navbar-nav .nav-item .nav-link i {
    color: #ca1f26;
    margin-right: 5px;
  }

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ca2027;
}



/*.menu {
  line-height: 1;
  margin: 0 auto;
  width: 100%;
}

.menu__list {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.menu__item {
  display: block;
  margin: 1em 0;
}

.menu__link {
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding: 18px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
}*/

/************************************** bootstrap menu classes **************************************/

.navbar.navbar-default .navbar-brand {
    height: 0;
    padding: 25px 15px 11px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #ffffff; 
}

/************************************** Menu Animation **************************************/




/************************************** Slider **************************************/

.full-slider {
  position: relative;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-slider .container {
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
}

.banner-text {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 50px 0;
/*  position: absolute;
  left: 0;
  top: 30%;*/
}
.banner-text p {
  font-size: 45px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}
.banner-text p span {
  color: #ffbf8b;
  text-shadow: 2px 3px 6px #000000;
}

.detail-info {
  width: 100%;
  padding: 0;
  margin: 50px 0;
}

/*input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
}*/



.btn.btn-get-access {
  background: #c92027;
  border: 1px solid #c92027;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.33;
  opacity: .8;
}

.btn-get-access {
  color: #ffffff;
  margin: 15px 18%;
  display: block;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

.btn-get-access:focus {
  outline: none;
}

.btn-get-access:hover {
  color: #ffffff;
  opacity: 1;
}

/************************************** about us **************************************/


.gray-space {
  width: 100%;
  background: #ebebeb;
  position: relative; 
  height: 250px;
}

.gray-space .container {
  left: 0;
  position: absolute;
  right: 0;
  top: 20%;
  
}

.aboutmain-div {
  display: inline-block;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 4px 12px #cccccc;
}

.video-div iframe {
  height: 320px;
}

.dec-div {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dec-div p {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 30px;
}

.sports_men-div {
  width: 100%;
  display: inline-block;
  box-shadow: 0px 3px 14px #777777;
  z-index: 1;
}
.sports_men-div img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.white-div {
  width: 100%;
  display: inline-block;
  background: #fbfbfb;
  padding: 20px 0;
}

.university-info {
  width: 100%;
  padding: 0;
  margin-top: 215px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
.university-info p {
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  font-weight: 500;
  float: left;
}
.university-info p i {
  color: #c92027;
  margin-right: 15px;
  font-size: 30px;
}

.btn.btn-view-more-red {
  background: #c92027;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.33;
  border-bottom-width: 0;
}

.btn-view-more-red {
  color: #ffffff;
  margin: 0 15%;
  padding: 8px 20px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

.btn-view-more-red:hover, .btn-view-more-red:focus {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.btn-view-more-red:selected {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.bg-text p{
  font-size: 150px;
  color: #efefef;
  text-align: left;
  font-weight: 700;
  position: absolute;
  margin-top: -35px;
  z-index: 0;
}


/************************************** products **************************************/

/*section .container {
  width: 100%;
  max-width: 100%;
  padding: 0 32px;
}*/

#products {
    padding: 90px 0;
    height: 700px;
    background: url(../../images/product-peralax.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.prd-div {
  width: 100%;
  margin-top: 50px;
  border: 2px solid #ffffff;
}

.youth-div {
  width: 100%;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding: 30px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.youth-div h4 {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  min-height: 50px;
}
.youth-img {
  text-align: center;
  width: auto;
  min-height: 110px;
  background: url(../../images/icon1.png) no-repeat center;
  margin: 30px 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;

}
.youth-div:hover {
  background: #ffffff;
  border: 2px solid #ffffff;
}
.youth-div:hover h4 {
  color: #000000;
}
.youth-div:hover .youth-img {
  background: url(../../images/icon1_hover.png) no-repeat center;
}
.youth-div:hover .btn-view-more {
  background: #c92027;
  color: #ffffff;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  box-shadow: 1px 5px 14px #cfd2d5;
  -webkit-box-shadow: 1px 5px 14px #cfd2d5;
  border: 1px solid #c92027;
}


.advance-div {
  width: 100%;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding: 30px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.advance-div h4 {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.adv-img {
  text-align: center;
  width: auto;
  min-height: 110px;
  background: url(../../images/icon2.png) no-repeat center;
  margin: 30px 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;

}
.advance-div:hover {
  background: #ffffff;
  border: 2px solid #ffffff;
}
.advance-div:hover h4 {
  color: #000000;
}
.advance-div:hover .adv-img {
  background: url(../../images/icon2_hover.png) no-repeat center;
}
.advance-div:hover .btn-view-more {
  background: #c92027;
  color: #ffffff;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  box-shadow: 1px 5px 14px #cfd2d5;
  -webkit-box-shadow: 1px 5px 14px #cfd2d5;
  border: 1px solid #c92027;
}


.coaches-div {
  width: 100%;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding: 30px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.coaches-div h4 {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  min-height: 50px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.coaches-img {
  text-align: center;
  width: auto;
  min-height: 110px;
  background: url(../../images/icon3.png) no-repeat center;
  margin: 30px 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;

}
.coaches-div:hover {
  background: #ffffff;
  border: 2px solid #ffffff;
}
.coaches-div:hover h4 {
  color: #000000;
}
.coaches-div:hover .coaches-img {
  background: url(../../images/icon3_hover.png) no-repeat center;
}
.coaches-div:hover .btn-view-more {
  background: #c92027;
  color: #ffffff;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  box-shadow: 1px 5px 14px #cfd2d5;
  -webkit-box-shadow: 1px 5px 14px #cfd2d5;
  border: 1px solid #c92027;
}

.cloth-div {
  width: 100%;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding: 30px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.cloth-div h4 {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  min-height: 50px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.cloth-img {
  text-align: center;
  width: auto;
  min-height: 110px;
  background: url(../../images/icon4.png) no-repeat center;
  margin: 30px 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;

}
.cloth-div:hover {/
  background: #ffffff;
  border: 2px solid #ffffff;
}
.cloth-div:hover h4 {
  color: #000000;
}
.cloth-div:hover .cloth-img {
  background: url(../../images/icon4_hover.png) no-repeat center;
}
.cloth-div:hover .btn-view-more {
  background: #c92027;
  color: #ffffff;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  box-shadow: 1px 5px 14px #cfd2d5;
  -webkit-box-shadow: 1px 5px 14px #cfd2d5;
  border: 1px solid #c92027;
}


.btn.btn-view-more {
  background: #ffffff;
  border: 1px solid #474747;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.33;
}

.btn-view-more {
  color: #000000;
  margin: 0 18%;
  display: block;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

.btn-view-more:focus {
  outline: none;
}





#gallery {
    padding: 90px 0;
    height: auto;
    background: #ffffff;
    background: url(../../images/gallery_pera.png) no-repeat left #ffffff;
    background-position-y: 150px;
}
.gallery-div {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
}

.gl-image img {
  width: 100%;
  max-width: 100%;
  min-height: 262px; 
  object-fit: cover;
  margin-bottom: 30px;
}

.sportsman {
    width: auto;
    float: left;
    position: relative;
    margin: 80px 0;
}

.sportsman img {
  vertical-align: middle;
  max-width: 100%;
}



#appriciation {
    padding: 105px 0;
    height: auto;
    background: url(../../images/gallery_pera1.png) no-repeat right #f1f5f8;
    background-position-y: 0px;
}

.sportsman-right {
    width: auto;
    float: right;
    position: relative;
    margin: 0;
}

.sportsman-right img {
  vertical-align: middle;
  max-width: 100%;
}


/************************************** Testimonials **************************************/

#testimonial-slider {
  margin-top: 50px;
}

.testimonial{
    padding: 90px 30px 50px;
    margin: 50px 30px 30px;
    position: relative;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    box-shadow: 1px 3px 10px #cccccc;
    -webkit-box-shadow: 1px 3px 10px #cccccc;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #5e595b;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
}
/*.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 25px;
    color: #d7d7d7;
    position: absolute;
    top: 0;
    left: -2px;
}*/
.testimonial .title{
    display: inline-table;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ea816b;
    font-size: 20px;
    font-weight: 700;
    color: #c7373c;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
}
.testimonial .post{
    font-size: 15px;
    color: #671a36;
}
.owl-theme .owl-controls{
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 38%;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 0;
    background: transparent;
}
.owl-prev{
    position: absolute;
    left: -5%;
}
.owl-next{
    position: absolute;
    right: -5%;
}
.owl-prev:after,
.owl-next:after{
    content: "\f104";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 30px;
    color: #c7373c;
    opacity: 1;
}
.owl-next:after{ content: "\f105"; }
 
@media only screen and (max-width: 479px){
    .testimonial{ padding: 70px 10px 30px; }
    .testimonial .description:before{ top: -20px }
    .testimonial .title{ font-size: 12px; }
    .testimonial .post{ font-size: 11px; }
}



.footer-div {
  width: 100%;
  border-bottom: 1px solid #000000;
}

.footer {
  /*width: 100%;*/
  float: left;
  padding: 15px 0;
  line-height: 15px;
}

.footer ul {
  margin : 0
}

.footer ul li {
  font-size: 13px;
  color: #000000;
  display: inline;
  padding: 0 8px;
}

.footer ul li i {
  padding-right: 10px;
  color: #000000;
}

.footer ul li:last-child {
  padding-right: 0;
}


.footer ul li a {
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
}

.footer ul li a:hover {
  color: #c92027;
}

.footer-details {
  width: 100%;
  display: inline-block;
  padding: 20px 0;

}

.footer-details p {
  color: #000000;
  font-size: 10px;
  margin-bottom: 10px;
  line-height: 16px;
  text-align: center;
}


.social {
  width: auto;
  float: right;
}
.social ul {
  padding: 0;
  margin: 10px 0;
}
.social ul li {
  display: inline;
  border-radius: 50%;
  float: left;
}
.social ul li a img {
  height: 29px;

}
.social ul li a {
  display: inline;
  margin: 0 5px;
  border-radius: 50%;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.social ul li a:hover {
  box-shadow: 0px 6px 6px #cccccc;
  border-radius: 50%;
}


#scroll {
    position:fixed;
    right:10px;
    bottom:30px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#000000;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    cursor: pointer;
}




/* regsiter page info */

.bg-opacity {
  background: #c92027;
  width: 100%;
  display: block;
}

.inner-page_bg {
  width: 100%;
  background: #c92027;
  background: url(../../images/page_heading.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px 0;
  position: relative;
  margin-top: 86px;
}
.page_header h2 {
  width: 100%;
  font-size: 30px; /* change done on 3rd may 2019 */
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
}
.basketball-div {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 320px 0;
  height: auto;
}

/*.basketball-div1 {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 320px 0;
  height: auto;
}*/

.register-form {
  width: 100%;
  display: inline-block;
  position: relative;
  background: #f9f9f9;
}
.reg_info {
  position: relative;
  margin: 50px 0;
  padding: 0;
  background: #ffffff;
  box-shadow: 1px 2px 14px #ababab;
  display: inline-flex;
  width: 100%;
}

.form-heading {
    padding: 40px;
    display: inline-block;
    margin: 0 auto;
}

.logindiv-heading {
    padding: 40px;
    display: inline-block;
    margin: 0 auto;
    padding: 125px 0;
}

.form-heading p {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  margin-bottom: 30px;
}

h2.login_div {
  color: #000000;
  font-size: 38px;
  margin-bottom: 30px;
}

form.regis-class {
  width: 100%;
  margin: 0;
  display: inline-block;
}
form.login-class {
  width: 100%;
  margin: 0;
  display: inline-block;
}
form .error {
  color: #ff0000;
}

.btn.btn-register {
  color: #ffffff;
  background: #c6261c;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 8px 25px;
  font-size: 14px;
  transition: 0.2 all;
  -webkit-transition: 0.2 all;
}
.btn.btn-register:hover  {
  background: #000000;
  cursor: pointer;
}
.btn.btn-login {
  color: #ffffff;
  background: #000000;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 8px 25px;
  font-size: 14px;
}
.btn.btn-click {
  color: #ffffff;
  background: #c8240e;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  transition: 0.2 all;
  -webkit-transition: 0.2 all;
}
.btn.btn-click:hover {
  background: #000000;
  cursor: pointer;
}

.regi_deta {
  width: 100%;
  display: inline-block;
  padding: 0 40px;
}

.regi_deta p {
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
}
#my-account {
  padding: 90px 0;
  height: auto;
  background: #ffffff;
}
.university-div {
  width: 100%;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 35px 35px;
  margin-bottom: 30px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.university-div img {
  width: 103px;
  display: block;
  margin: 0 auto;
}
.university-div p {
  font-size: 16px;
  text-align: center;
  margin: 25px 0 0;
  color: #000000; 
  transition: 0.2s all;
  -webkit-transition: 0.2s all;

}
.university-div:hover {
  border: 1px solid #c82027;
  box-shadow: 2px 3px 6px #cccccc;
  padding: 35px 35px;
}
.university-div:hover.university-div p {
  color: #c82027;
  font-size: 16px;
  font-weight: 600;
}
.headlines-div {
  width: 100%;
  margin: 28px 0;
  padding: 0;
  display: inline-block;
}
.headlines-div h3 {
  color: #000000;
  padding-bottom: 15px;
}
.headline-text {
  width: 100%;
  border-top: 2px solid #cccccc;
  padding: 18px 0 0;
}
.headline-text p {
  font-size: 13px;
  color: #c92027;
}
.btn.btn-common-red {
  background: #c92027;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.33;
  border-bottom-width: 0;
}

.btn-common-red {
  color: #ffffff;
  margin: 0 auto;
  padding: 8px 20px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

.btn-common-red:hover, .btn-common-red:focus {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.btn-common-red:selected {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.full-width {
  width: 100%;
}

.btn.btn-save {
  background: #c92027;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.33;
  border-bottom-width: 0;
}

.btn-save {
  color: #ffffff;
  margin: 0 auto;
  padding: 8px 20px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

.btn.btn-reset {
  background: #6f6f6f;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.33;
  border-bottom-width: 0;
}

.btn-reset {
  color: #ffffff;
  margin: 0 auto;
  padding: 8px 20px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.hoopfolio-menu {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}

.hoopfolio-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hoopfolio-menu ul li {
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
  margin: 10px 0 0;
  color: #000000;
  border-bottom: 1px solid #ebebeb;
}
.hoopfolio-menu ul li i{
  color: #000000;
  margin-right: 20px;
  font-size: 14px;
  width: 20px;
}
.hoopfolio-menu ul li span {
  margin: 0 5px; 
}

.hoopfolio-menu ul li.active a,.hoopfolio-menu ul li.active i {
  color: #ad0303;
  font-weight: 600;
}

.hoopfolio-menu ul li:hover a,.hoopfolio-menu ul li:hover i{
  color: #ad0303;
}


.black-bg {
  width: 100%;
  display: inline-block;
  background: #000000;
  height: 46px;
}
.profile-section {
  width: 100%;
  background: #000000;
  background-image: linear-gradient(#000000, #a80303);
  height: 290px;
  transform: translateY(-54px);
  padding: 20px 30px;
}

.profile-img {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img img {
  max-width: 100%;
  vertical-align: middle;
}
.upload-pic {
  width: 100%;
  display: inline-block;
  margin: 30px 0 0;
}
.upload-pic p {
  color: #ffffff;
  text-align: center;
}
.upload-pic p a {
  color: #ffffff;
}
.upload-pic p i {
  margin-right: 10px; 
}

/* tabe */
/* Tabs container */
.r-tabs {
  position: relative;
  /*background-color: #000000;*/
  transform: translateY(-73.5px);
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
  position: relative;
  background-color: #000000;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
  display: inline-block;
  padding: 10px 20px;

  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  color: #fff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
  opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  color: #ffffff;
  text-shadow: none;
  background-color: #ca2027;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
  background-color: white;

  border-bottom: 4px solid white;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
  display: block;
  padding: 10px;

  background-color: #000000;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
  background-color: #000000;
  color: #ffffff;
  text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
  opacity: 0.5;
}
/* Info bar */
.info {
  display:inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 300px;
  line-height: 100%;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  color: #00c5ad;
  border: 2px solid #00ab94;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
} 
.hoopfolio-details {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.right-tabs {
  width: 100%;
  text-align: right;
  margin: 10px 0;
  display: inline-block;
}
.btn.btn-university {
  background: transparent;
  border-radius: 30px;
  font-size: 14px;
  line-height: 1.33;
  border-bottom-width: 0;
  border: 1px solid #000000;
}

.btn-university {
  color: #000000;
  margin: 0 auto;
  padding: 8px 20px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.btn.btn-public {
  background: transparent;
  border-radius: 30px;
  font-size: 14px;
  line-height: 1.33;
  border-bottom-width: 0;
  border: 1px solid #000000;
}

.btn-public {
  color: #000000;
  margin: 0 auto;
  padding: 8px 20px;
  text-align: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.btn.btn-university, .btn.btn-public:active {
  background: #c92027;
  color: #ffffff;
  border: 1px solid #c92027;
}
.status-div {
  width: 100%;
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}
.form-control {
  font-size: 14px;
}
.attachment-div {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.attachment-left {
  width: 60%;
  float: left;
}
.attachment-left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.attachment-left ul li {
  display: inline;
  margin: 0 10px;
  color: #000000;
}
.attachment-left ul li a i{
  color: #ffffff;
}
.share-right {
  width: auto;
  text-align: right;
}
.share-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.share-right ul li {
  display: inline;
  margin: 0 10px;
  color: #000000;
}
.share-right ul li a:hover {
  color: #c92027;
}
/*.share-right ul li:after {
  content: '';
  border: 1px solid #000000;
  height: 20px;
  position: absolute;
  margin: 6px 10px;
}*/
.right-timeline-div {
  background: #f5f5f5;
  padding: 20px;
  margin: 20px 0;
}
.post-div {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;    
}
.post-section {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.post-section .pull-left {
  margin-right: 20px;
  float: left;
} 
.profile-pic {
  display: block;
  border: 4px solid #d7d7d7;
  margin: 0 auto;
}
.profile-pic img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.media-div {
  display: table-cell;
  vertical-align: top;
}
.media-div h4 {
  font-size: 22px;
}
.media-div p {
  font-weight: 300;
}
.media-content {
  width: 100%;
  display: inline-block;
  padding: 0;
}
.media-content img {
  max-width: 100%;
  max-height: 1000px;
  padding: 5px;
  border: 1px solid #000000;
}
.sport-video {
  width: auto;
  max-width: 100%;
}
.sport-video iframe {
  height: 200px;
  width: 100%;
}
.post-comment {
  width: 100%;
  margin: 20px 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}
.post-comment ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.post-comment ul li {
  display: inline;
  margin-right: 10px;
  color: #8e8e8e;
}
.post-comment ul li a {
  color: #c92027;
  text-decoration: underline;
}
.post-comment ul li strong {
  color: #000000;
}
.post-comment ul li i{
  color: #8e8e8e;
}
.comment-info {
  display: inline-block;
}
.comment-info p {
  font-size: 12px;
  color: #000000;
  margin-bottom: 0;
}
.comment-info p a {
  color: #000000;
  font-weight: 600;

}
.inner-comment-section {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.profile-inner-pic {
  display: block;
  border: 4px solid #d7d7d7;
  margin: 0 auto;
}
.profile-inner-pic img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.media-inner-div {
  display: table-cell;
  vertical-align: top;
}
.custom-file-label {
  line-height: 28px;
}
.custom-file-label::after {
  line-height: 28px;
}
.hoopfolio-pics {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 150px;
  overflow: hidden;
  border: 1px solid #000000;
  padding: 5px;
}
.hoopfolio-pics img {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}
.hoopfolio-video {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.upload-pic label {
  color: #ffffff;
  text-align: center;
  display: block;
  cursor: pointer;
}
.upload-pic label i {
  margin-right: 10px; 
}
.upload-pic > input
{
    display: none;
}
form#main-access-from {
    display: inline-flex;
}
#calendar {
  margin: 20px 0;
}
#calendar h2 {
  font-size: 1.3em;
}
.university-category {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
}
.workout-info {
  width: 100%;
  display: inline-block;
  border: 2px solid #989898;
  background: #f7f6f6;
  margin: 0;
  padding: 9px 15px;
  text-align: center;
}
.workout-info ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.workout-info ul li {
  display: inline;
  margin: 0 9px;
  text-align: center;
}
.unverified {
  color: #ed9c28;
  font-weight: 600;
}
.pending {
  color: #2fb2d9;
  font-weight: 600;
}
.verified {
  color: #43a542;
  font-weight: 600;
}
.rejected {
  color: #d53026;
  font-weight: 600;
}
.responsive-table {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
}

table tr  th {
  background: #636363;
  color: #ffffff;
  padding: 5px 10px;
}
table tr td {
  color: #000000;
  padding: 5px 10px;
  border-bottom: 1px solid #ededed; 
}

.camp_info {
  position: relative;
  margin: 50px 0;
  padding: 20px;
  background: #ffffff;
  box-shadow: 1px 2px 14px #ababab;
  display: block;
  width: 100%;
}

.camp-section-div {
  display: block;
  background: #fbfbfb;
  border: 1px solid #dddddd;
  padding: 15px;
  border-radius: 10px;
  min-height: 428px;
}
.camp-heading-red {
  display: inline-block;
  width: 100%;
}
.camp-heading-red h3 {
  font-size: 25px;
  color: #000000;

}
.camp-heading-red h3::after {
  content: '';
  border-bottom: 3px solid #000000;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
.des_text {
  width: 100%;
  display: block;
  margin-top: 30px;
}
.des_text p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.des_text ul {
  margin: 0;
  padding: 0
  list-style-type: circle;
}
.des_text ul li {
  display: block;
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
}
.date-time-div {
  width: 100%;
  display: inline-block;
  margin: 0;
}
.date-time-div h5 {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.date-time-div p {
  font-size: 13px;
  color: #000000;
  text-align: left;
}
