<section>
    <div class="footer-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer wow fadeInLeft">
                        {% set botommenu = knp_menu_get('botommenu', [], {'isUserLogin': _isUserLogin}) %}
                        {{ knp_menu_render(botommenu, {'currentClass': 'menu__item--current'}) }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="social wow fadeInRight">
                        <ul>
                            <li><a href="#"><img src="{{ asset('images/ico/fb.png') }}"/></a></li>
                            <li><a href="#"><img src="{{ asset('images/ico/twitter.png') }}"/></a></li>
                            <li><a href="#"><img src="{{ asset('images/ico/you-tube.png') }}"/></a></li>
                            <li><a href="#"><img src="{{ asset('images/ico/insta.png') }}"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-details">
            <p>{{ 'Gain the Advantage! Superhandles Basketball Training Programs'|trans }}</p>
            <p>{{ 'Superhandles.com provides over 120 hours of Game-Ready basketball workouts that cover dribbling drills, ball handling drills, shooting drills, passing drills, point guard drills, and more. By using our 100-level training system, you will have workout regimens that are customized to your current skill level, and be well on your way to Gaining the Superhandles™ Advantage over your competition.'|trans }}</p>
        </div>
    </div>
    <a href="#" id="scroll" style="display: none;"><span></span></a>
</section>