<section>
    <div class="container">
        <div class="headlines-div">
            <h3>{{ app.user.profile.firstname~' '~app.user.profile.lastname }}</h3>
            <div class="headline-text">
                <div class="row">
                    <div class="col-lg-10 col-md-8 col-xs-8">
                        <p>{{ 'I Like Superhandles  :) :)'|trans }}</p>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-4">
                        <a class="btn btn-common-red" data-id='myModel' data-toggle="modal"
                           href="#myModal">{{ 'Update Headline'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>