<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('front_home_index') }}"><img
                    src="{{ asset('/images/logo/superhandle_logo.png') }}" alt="logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% set mainmenu = knp_menu_get('mainmenu', [], {'isUserLogin': _isUserLogin}) %}
            {{ knp_menu_render(mainmenu, {'currentClass': 'active', 'allow_safe_labels': true}) }}
        </div>
    </div>
</nav>
