<div class="profile-section">


    {% if (app.user.profile.profilePic.fileName is defined) %}
        {% set userImage = USERS_IMAGES ~ app.user.profile.profilePic.fileName %}
    {% else %}
        {% set userImage = '/images/hoopfolio-profile.png' %}
    {% endif %}
    <div class="profile-img">
        <img src="{{ userImage| imagine_filter('squared_thumbnail_246_246') }}"/>
    </div>
    <div class="upload-pic">
        <label for="file-input" onclick="window.location='{{ path('my_profile') }}#profile-picture'">
            <i class="fas fa-camera"></i>Update Photos
        </label>
        {#<input id="file-input" type="file"/>#}
    </div>
</div>

<div class="hoopfolio-menu">
    {% set hoopfoliomenu = knp_menu_get('hoopfoliomenu', [], {'routeName': app.request.attributes.get('_route')}) %}
    {{ knp_menu_render(hoopfoliomenu, {'currentClass': 'active', 'allow_safe_labels': true}) }}
</div>
