{% extends 'base.html.twig' %}

{% if(cmsPage==null) %}
    {% set metaDescription = SITE_NAME %}
    {% set metaKeywords = SITE_NAME %}
    {% set metaTitle = SITE_NAME %}
    {% set pageTitle = SITE_NAME %}
    {% set pageContent = 'Page not found' %}
{% else %}
    {% set metaDescription = cmsPage.metaDescription %}
    {% set metaKeywords = cmsPage.metaKeywords %}
    {% set metaTitle = cmsPage.metaTitle %}
    {% set pageTitle = cmsPage.pageTitle %}
    {% set pageContent = cmsPage.pageContent %}
{% endif %}

{% block metaDescription %}{{ metaDescription }}{% endblock %}
{% block metaKeywords %}{{ metaKeywords }}{% endblock %}
{% block title %}{{ pageTitle | default(SITE_NAME) }}{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(/images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>{{ pageTitle }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="register-form cms-pages">
            <div class="container">
                <div class="reg_info">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="form-heading">
                                {{ pageContent|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
