{#
<div class="row footer">
    <div class="col-md-6 text-left">
        Copyright © 2015 <a href="#" target="_blank">Superhandles</a> All rights reserved.
    </div>
    <div class="col-md-6 text-right">
        Design and Developed by <a href="#" target="_blank">Superhandles</a>
    </div>
</div>#}
