<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="{{ path('admin_home') }}" class="logo"><img src="{{ asset('/images/logo.png') }}"/> {{ 'Admin'|trans }}
        </a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="Search">
        <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->

    <!-- Start Top Menu -->
    <ul class="topmenu">
        <li><a href="#">Files</a></li>
        <li><a href="#">Authors</a></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">My Files <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Videos</a></li>
                <li><a href="#">Pictures</a></li>
                <li><a href="#">Blog Posts</a></li>
            </ul>
        </li>
    </ul>
    <!-- End Top Menu -->

    <!-- Start Top Right -->
    <ul class="top-right">

        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle hdbutton">Create New <span
                        class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-list">
                <li><a href="#"><i class="fa falist fa-paper-plane-o"></i>Product or Item</a></li>
                <li><a href="#"><i class="fa falist fa-font"></i>Blog Post</a></li>
                <li><a href="#"><i class="fa falist fa-file-image-o"></i>Image Gallery</a></li>
                <li><a href="#"><i class="fa falist fa-file-video-o"></i>Video Gallery</a></li>
            </ul>
        </li>

        {#<li class="link">
            <a href="#" class="notifications">6</a>
        </li>#}

        <li class="dropdown link">
            {% if(app.user.profile.profilePic == null ) %}
                {% set userImage = USERS_IMAGES~'no_pic.png' %}
            {% else %}
                {% set userImage = USERS_IMAGES~app.user.profile.profilePic %}
            {% endif %}
            {% if(  not file_exists(userImage)) %}
                {% set userImage = '/images/no_pic.png' %}
            {% endif %}
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img
                        src="{{ asset(userImage) }}"
                        alt="img"><b>{{ app.user.profile.firstname ~' '~app.user.profile.lastname }}</b><span
                        class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                <li role="presentation" class="dropdown-header">Profile</li>
                {#<li><a href="#"><i class="fa falist fa-inbox"></i>Inbox<span class="badge label-danger">4</span></a>
                </li>
                <li><a href="#"><i class="fa falist fa-file-o"></i>Files</a></li>#}
                <li><a href="/admin{{ path('fos_user_change_password') }}"><i
                                class="fa falist fa-key"></i> {{ 'Change Password'|trans }}</a></li>
                <li><a href="{{ path('admin_my_profile') }}"><i
                                class="fa falist fa-edit"></i> {{ 'Edit Profile'|trans }}</a></li>
                <li><a href="{{ path('craue_config_settings_modify') }}"><i class="fa falist fa-wrench"></i>Settings</a></li>
                <li class="divider"></li>
                {#<li><a href="#"><i class="fa falist fa-lock"></i> Lockscreen</a></li>#}
                <li><a href="{{ path('fos_user_security_logout') }}"><i
                                class="fa falist fa-power-off"></i> {{ 'Logout'|trans }}</a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- End Top Right -->

</div>