<div class="sidebar clearfix">
    {% set adminmenu = knp_menu_get('adminmenu', [], {'isUserLogin': _isUserLogin}) %}
    {{ knp_menu_render(adminmenu, {'currentClass': 'active', 'allow_safe_labels': true}) }}
</div>