<div id="breadcrumb">
    {{ knp_menu_render('breadcrumb',{'currentAsLink':false}) }}
    {#{{ knp_menu_render('breadcrumb', {currentClass: 'active','template': 'admin/common/breadcrumb.html.twig'}) }}#}
</div>
