{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="full-slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                {% if homeSlider|length > 1 %}
                    <ol class="carousel-indicators">
                        {% set count = 0 %}
                        {% for slider in homeSlider %}
                            {% if count == 0 %}
                                {% set active = 'active' %}
                            {% else %}
                                {% set active = '' %}
                            {% endif %}
                            <li data-target='#carouselExampleIndicators' data-slide-to='0' class='{{ active }}'></li>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </ol>
                {% endif %}
                <div class="carousel-inner" role="listbox">
                    {% set count = 0 %}
                    {% for slider in homeSlider %}
                        {% if count == 0 %}
                            {% set active = 'active' %}
                        {% else %}
                            {% set active = '' %}
                        {% endif %}
                        {% set sliderImageName = UPLOAD_IMAGES_PATH ~ 'home_slider/' ~ slider.bannerFile %}
                        {% if( (slider.bannerFile.fileName is defined)) %}
                            {% set sliderImageName = UPLOAD_IMAGES_PATH ~ 'home_slider/' ~ slider.bannerFile.fileName %}
                        {% endif %}
                        <div class="carousel-item {{ active }}"
                             style="background-image: url({{ sliderImageName | imagine_filter('home_slider_thumbnail')  }})"></div>
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>
                {% if homeSlider|length > 1 %}
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </div>
            <div class="container">
                <div class="banner-text wow bounceInDown">
                    <p>Free Video</p>
                    <p>How to Build a <span>Game-Ready</span><br/>Killer Crossover!</p>
                </div>
                <div class="detail-info">

                    <form id="main-access-from">
                        <div class="col-lg-4 col-md-12 col-xs-12 wow bounceInDown">
                            <div class="form-group">
                                <!-- <label for="fname">First Name</label> -->
                                <input class="home-text" type="text" id="fname" name="fname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-xs-12 wow bounceInDown">
                            <div class="form">
                                <!-- <label for="lname">Last Name</label> -->
                                <input class="home-text" type="text" id="lname" name="lname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-xs-12 wow bounceInDown">
                            <a class="btn btn-get-access" href="#">Get Access Now! </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="gray-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="aboutmain-div">
                                <div class="row">
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                        <div class="video-div wow fadeInDown" data-wow-duration="1s"
                                             data-wow-delay="0ms">
                                            <iframe src="http://player.vimeo.com/video/114445022?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1"
                                                    width="100%" scrolling="no" allowtransparency="true"
                                                    allowfullscreen="true" frameborder="0" webkitallowfullscreen=""
                                                    mozallowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dec-div">
                                            <div class="center-heading-red text-center">
                                                <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0ms">
                                                    About</h3>
                                            </div>
                                            <p class="wow fadeInDown">Sed ut perspiciatis unde omnis iste natus error
                                                sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                                vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium, totam rem
                                                aperiam.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="sports_men-div wow fadeIn" data-wow-duration="1s" data-wow-delay="500ms">
                                <img src="images/gallery_pera2.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white-div">
            <div class="container">
                <div class="university-info wow bounceInDown">
                    <p><i class="fas fa-university"></i>Try Super Handles University For Free</p>
                    <a class="btn btn-view-more-red" href="#">Click to View </a>
                </div>
                <div class="bg-text">
                    <p>Super Handles</p>
                </div>
            </div>
        </div>
    </section>
    <section id="products">
        <div class="container">
            <div class="center-heading text-center">
                <h3 class="wow fadeInDown">Explore Our Products</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="prd-div wow fadeInDown" data-wow-duration="1s" data-wow-delay="100ms">
                        <div class="youth-div">
                            <h4>YouthTraining</h4>
                            <div class="youth-img"></div>
                            <a class="btn btn-view-more" href="#">Click to View </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="prd-div wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
                        <div class="advance-div">
                            <h4>Intermediate to Advanced</h4>
                            <div class="adv-img"></div>
                            <a class="btn btn-view-more" href="#">Click to View </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="prd-div wow fadeInDown" data-wow-duration="1s" data-wow-delay="500ms">
                        <div class="coaches-div">
                            <h4>Coaches</h4>
                            <div class="coaches-img"></div>
                            <a class="btn btn-view-more" href="#">Click to View </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="prd-div wow fadeInDown" data-wow-duration="1s" data-wow-delay="700ms">
                        <div class="cloth-div">
                            <h4>Clothing</h4>
                            <div class="cloth-img"></div>
                            <a class="btn btn-view-more" href="#">Click to View </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="gallery">
        <!-- <div class="sportsman">
            <img src="images/gallery_pera.png">
        </div> -->
        <div class="container">
            <div class="col-md-10 offset-md-2 col-xs-12">
                <div class="center-heading-red text-center">
                    <h3 class="wow fadeInDown">Our Gallery</h3>
                </div>

                <div class="gallery-div">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="100ms">
                            <div class="gl-image">
                                <img src="{{ asset('images/gallery/img1.jpg') }}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="300ms">
                            <div class="gl-image">
                                <img src="{{ asset('images/gallery/img1.jpg') }}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="500ms">
                            <div class="gl-image">
                                <img src="{{ asset('images/gallery/img1.jpg') }}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="700ms">
                            <div class="gl-image">
                                <img src="{{ asset('images/gallery/img1.jpg') }}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="900ms">
                            <div class="gl-image">
                                <img src="{{ asset('images/gallery/img1.jpg') }}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="1.1s">
                            <div class="gl-image">
                                <img src="{{ asset('images/gallery/img1.jpg') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="appriciation">
        <!-- <div class="sportsman-right">
            <img src="images/gallery_pera1.png">
        </div> -->
        <div class="container">
            <div class='row'>
                <div class="col-md-offset-2 col-md-8 col-xs-12">
                    <div class="center-heading-red text-center">
                        <h3 class="wow fadeInDown">Appreciations</h3>
                    </div>
                    <div id="testimonialSlider" class="owl-carousel wow fadeInDown">

                        {% if testimonial %}
                            {% for testimonialData in testimonial %}
                                {% set testimonialImageName = UPLOAD_IMAGES_PATH ~ 'testimonials' ~ testimonialData.authorPic %}
                                {% if( (testimonialData.authorPic.fileName is defined)) %}
                                    {% set testimonialImageName = UPLOAD_IMAGES_PATH ~ 'testimonials' ~ testimonialData.authorPic.fileName %}
                                {% endif %}
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="{{ testimonialImageName | imagine_filter('product_thumbnail_96_96') }}"
                                             alt="{{ testimonialData.authorName }}"
                                             title="{{ testimonialData.authorName }}">
                                    </div>
                                    <p class="description">
                                        {{ testimonialData.postContent|raw }}
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
