{% extends 'base.html.twig' %}

{% block title %}My Team{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity" style="background: url({{ asset('images/page_headingV1.jpg') }}) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>My Team Details</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wrap">
            <div class="container content-bg-part">
                <div class="col-lg-12">
                    <h3>
                        <div class="pull-left border-bottom paddingBottom10 paddingRight15">
                            <span class="modal-title col-lg-4">Plan : {{ planName }}</span>
                            <span class="modal-title col-lg-4">Member Limit : {{ memberLimit }}</span>
                            <span class="modal-title col-lg-4">Available Limit : {{ availableLimit }}</span>
                        </div>
                        <div class="clear"></div>
                    </h3>
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                    {{ form_start(form, {'action': path('front_coach_create_team_new_user')}) }}
                                    {{ form_widget(form) }}
                                    <div class="form-group ">
                                        <button type="submit" class="btn btn-success btn-large">{{ 'Save'|trans }}</button>
                                        <button type="reset" class="btn btn-default"> {{ 'Reset'|trans }} </button>
                                        <button type="button" class="btn btn-danger" onclick="window.history.back()"> {{ 'Cancel'|trans }} </button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

