<div class="modal-dialog animated fadeInUp modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title font-weight-bold">Plan : {{ planName }} <br/>
                <span>Member Limit : <span class="memberLimit">{{ memberLimit }}</span></span> <br/>
                <span>Available Limit : <span class="availableLimit">{{ availableLimit }}</span></span>
            </p>
            <button type="button" class="close" data-dismiss="modal" style="margin-top: -22px;">&times;</button>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-12">

                        {{ form_start(form, {'action': path('user_cc_code')}) }}

                        {{ form_widget(form) }}
                        <input type="hidden" value="{{ userId }}" name="UserId" id="userId">
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<link rel="stylesheet" type="text/css" href="{{ asset('css/admin/multi-select-new.css') }}">
<script src="{{ asset('js/admin/jquery.multi-select.js') }}"></script>
<script src="{{ asset('js/admin/jquery.quicksearch.js') }}"></script>
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $vals = {{ userCcCode }};
            $('#add_coach_user_CoachUser option').each(function () {
                if ($.inArray(parseInt($(this).val()), $vals) !== -1) {
                    $(this).attr('selected', 'selected');
                } else {
                    if ("{{ availableLimit }}" <= 0) {
                        $(this).attr('disabled', 'disabled');
                        addDisabled();
                    }
                }
            });

            $('.pre-selected-options').multiSelect({
                selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search'>",
                selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function (value) {
                    this.qs1.cache();
                    this.qs2.cache();
                    $memberId = value[0];
                    quickAjax(Routing.generate('front_coach_team_add_remove'), {
                        "memberId": $memberId,
                        "addRemove": 1
                    }, function (data) {
                        $('.availableLimit').text(data.availableLimit);
                        if (data.availableLimit <= 0) {
                            addDisabled();
                        }
                        toastr["success"]("Member Added successfully done", "");
                        $('#coachUserTable').DataTable().ajax.reload(null, false);
                    });
                },
                afterDeselect: function (value) {
                    this.qs1.cache();
                    this.qs2.cache();
                    $memberId = value[0];
                    quickAjax(Routing.generate('front_coach_team_add_remove'), {
                        "memberId": $memberId,
                        "addRemove": 0
                    }, function (data) {
                        $('.availableLimit').text(data.availableLimit);
                        if (data.availableLimit > 0) {
                            removeDisabled();
                        }
                        toastr["warning"]("Member Remove successfully done", "");
                        $('#coachUserTable').DataTable().ajax.reload(null, false);
                    });
                }
            });

        });

        function addDisabled() {
            $("#ms-add_coach_user_CoachUser .ms-selectable ul li").each(function () {
                $(this).addClass('disabled');
            });
        }

        function removeDisabled() {
            $("#ms-add_coach_user_CoachUser .ms-selectable ul li").each(function () {
                $(this).removeClass('disabled');
            });
        }
    </script>
{% endblock %}
