{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity" style="background: url(images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Store</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="store">
        <div class="container">
            {{ include('front/cart/cartSection.html.twig') }}
            <div class="store-main-div">
                <div class="row">
                    {% if data is defined %}
                        {% set count = 0 %}
                        {% for productCat in data %}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="store-part-div1 wow fadeInLeft">
                                    <div class="store-img-left1">
                                        <div class="store-layer">
                                            <img class="hvr-grow" src="../images/store/img1.jpg" />
                                        </div>
                                    </div>
                                    <div class="store-details1">
                                        <h3>{{ productCat.getTitle()}}</h3>
                                        <a class="btn btn-store1" href="{{ path('front_store_products_list', { 'categoryUrl': productCat.categoryUrl }) }}">Click Here</a>
                                    </div>
                                </div>
                            </div>
                            {% set count = count + 1 %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
