{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(../images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Store</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="store">

        {{ include('front/cart/cartSection.html.twig') }}
        <div class="black-bg">
            <div class="container">
                <div class="inner-page-heading">
                    {% if data and data[0].idProductType.isCloth %}
                        cloth
                    {% else %}
                        {{ productCategory.title }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% if data is defined %}
                    {% for products in data %}
                        {% if (products.image.fileName is defined) %}
                            {% set imgName = UPLOAD_IMAGES_PATH ~ 'product/' ~ products.image.fileName %}
                        {% else %}
                            {% set imgName = UPLOAD_IMAGES_PATH ~ 'image3.png' %}
                        {% endif %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ind_product_list">
                                <div class="ind-g-center">
                                    <img src="{{ imgName| imagine_filter('product_thumbnail_150_166') }}"
                                         alt="{{ products.title }}" title="{{ products.title }}"/>
                                </div>
                                <div class="ind-l-content-d">
                                    <div class="ind-price-l">
                                        <div class="{{ (products.idProductType.isCloth) ? "center-heading" : "left-heading" }}">
                                            <p>Price :</p>
                                            <ul>
                                                <li>$ {{ products.price }}</li>
                                            </ul>
                                        </div>
                                        {% if(products.idProductType.isCloth == false) %}
                                            {% if products.idProductType.id in [APP_PRODUCT_TYPE_STREAMING, APP_PRODUCT_TYPE_DVD, APP_PRODUCT_TYPE_SUBSCRIPTION] %}
                                            <div class="right-versions">
                                                <p>Version : </p>
                                                <ul>
                                                    {% if(products.idProductType.id == APP_PRODUCT_TYPE_DVD) %}
                                                        <li><i class="fas fa-compact-disc"></i></li>
                                                    {% elseif(products.idProductType.id in [APP_PRODUCT_TYPE_STREAMING, APP_PRODUCT_TYPE_SUBSCRIPTION]) %}
                                                        <li><i class="fas fa-laptop"></i></li>
                                                        {% if(products.idProductOfDvd) %}
                                                            <li><i class="fas fa-compact-disc"></i></li>
                                                        {% endif %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <h4>
                                        <a href="{{ path('front_store_products_details', { 'productUrl': products.productUrl }) }}">{{ products.title|trans }}</a>
                                    </h4>
                                    <p>{{ products.description|striptags|slice(0,100) }}</p>
                                </div>
                                {% if products.id not in purchasedProducts %}
                                    {% if products.idProductOfDvd is null %}
                                        {% if products.idProductType.isCloth %}
                                            <button class="btn btn-ind-store addtoCartwithCloth" productId="{{ products.id }}">
                                                <i class="fas fa-shopping-cart"></i>Add to Cart
                                            </button>
                                        {% else %}
                                            <button class="btn btn-ind-store addtoCart" productId="{{ products.id }}">
                                                <i class="fas fa-shopping-cart"></i>Add to Cart
                                            </button>
                                            <button class="btn btn-ind-store addtoCart" buynow="true" productId="{{ products.id }}">
                                                <i class="fas fa-money-bill"></i>Buy Now
                                            </button>
                                        {% endif %}
                                    {% else %}
                                        <button class="btn btn-ind-store addtoCartwithDvd" productId="{{ products.id }}">
                                            <i class="fas fa-shopping-cart"></i>Add to Cart
                                        </button>
                                        <button class="btn btn-ind-store addtoCartwithDvd" buynow="true" productId="{{ products.id }}">
                                            <i class="fas fa-money-bill"></i>Buy Now
                                        </button>
                                    {% endif %}

                                {% else %}
                                    <button class="btn  btn-ind-store ">
                                        {% if(products.idProductType.appProductType == APP_PRODUCT_TYPE_SUBSCRIPTION) %}
                                            <i class="fas fa-money-bill"></i>Joined
                                        {% else %}
                                            <i class="fas fa-money-bill"></i>Bought
                                        {% endif %}
                                    </button>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {#<div class="row">#}
            {#<div class="pagination-main-dv">#}
            {#<ul>#}
            {#<li><a href="#">Previous</a></li>#}
            {#<li><a href="#">1</a></li>#}
            {#<li><a href="#">2</a></li>#}
            {#<li><a href="#">3</a></li>#}
            {#<li><a href="#">4</a></li>#}
            {#<li><a href="#">5</a></li>#}
            {#<li><a href="#">Next</a></li>#}
            {#</ul>#}
            {#</div>#}
            {#</div>#}
            <div class="panel panel-default">
                <div class="panel-body ld-over">
                    <div class="ld ld-ring ld-spin"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- dvd model content -->
    {{ include('front/store/commonPopup/addtocart.html.twig') }}

    <!-- cloth model content -->
    {{ include('front/store/commonPopup/addtocartCloth.html.twig') }}
    <!--cloth product model content -->
{% endblock %}
