{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity" style="background: url(../images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Store</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="store">

        {{ include('front/cart/cartSection.html.twig') }}
        <div class="container">
            <div class="prd-innr-dt-div">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="ind-g-center">
                            {% if (data.image.fileName is defined) %}
                                {% set imgName = UPLOAD_IMAGES_PATH ~ 'product/' ~ data.image.fileName %}
                            {% else %}
                                {% set imgName = UPLOAD_IMAGES_PATH ~ 'image3.png' %}
                            {% endif %}
                            <img src="{{ imgName | imagine_filter('product_thumbnail_150_166') }}" alt="img" />
                        </div>
                        <div class="prd-link-b text-center">
                            {% if data.id not in purchasedProducts %}
                                {% if data.idProductOfDvd is null %}
                                    <button type="submit" class="btn btn-cl-buy addtoCart" data-dismiss="modal" productId="{{ data.id }}">
                                        <i class="fas fa-shopping-cart"></i>Add to Cart
                                    </button>
                                    <button type="submit" class="btn btn-cl-buy addtoCart" buynow="true" data-dismiss="modal" productId="{{ data.id }}">
                                        <i class="fas fa-money-bill"></i>Buy Now
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-cl-buy addtoCartwithDvd" data-dismiss="modal" productId="{{ data.id }}">
                                        <i class="fas fa-shopping-cart"></i>Add to Cart
                                    </button>
                                    <button type="submit" class="btn btn-cl-buy addtoCartwithDvd" buynow="true" data-dismiss="modal" productId="{{ data.id }}">
                                        <i class="fas fa-money-bill"></i>Buy Now
                                    </button>
                                {% endif %}

                            {% else %}
                                <button type="submit" class="btn btn-cl-buy" >
                                    {% if(data.idProductType.appProductType == APP_PRODUCT_TYPE_SUBSCRIPTION) %}
                                        <i class="fas fa-shopping-cart"></i>Joined
                                    {% else %}
                                        <i class="fas fa-shopping-cart"></i>Bought
                                    {% endif %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="inner-pro-details-g">
                            <h4>{{ data.title | trans }}</h4>
                            <span>${{ data.price | trans }}</span>
                        </div>
                        <div class="prd-in-details">
                            <p>{{ data.description | raw }}</p>
                        </div>
                        <div class="prd-select-itm">
                            <div class="row">
                                {% if (data.idProductSize and productSize) %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productSize">Size</label>
                                        <select class="form-control" id="productSize" name="productSize">
                                            {% for value in productSize %}
                                                <option value="{{ value.id }}">{{ value.size }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if data.id not in purchasedProducts %}
                                    {% if data.idProductType.appProductType in [APP_PRODUCT_TYPE_STREAMING, APP_PRODUCT_TYPE_SUBSCRIPTION, APP_PRODUCT_TYPE_CLOTHING]  %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fname">Quantity</label>
                                        <select class="form-control" id="productQty" name="productQty">
                                            {% for i in range(1, MAX_PURCHASE_QUANTITY) %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                        {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- dvd model content -->
    {{ include('front/store/commonPopup/addtocart.html.twig') }}

    <script>
        $(document).ready( function() {
            $("input[type='number']").inputSpinner();

        });
    </script>
{% endblock %}
