{% extends 'base.html.twig' %}


{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity" style="background: url(images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>{{ 'Hoopfolio'|trans }}</h2>
                </div>
            </div>
        </div>
    </section>
    {{ include('front/include/headline_section.html.twig') }}
    <section>
        <div class="black-bg"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-12">
                    {{ include('front/include/hoopfolio_menu.html.twig') }}
                </div>
                <div class="col-lg-9 col-md-8 col-xs-12">
                    <div id="horizontalTab">
                        <ul>
                            <li><a href="#tab-1">My Hoopfolio</a></li>
                            <li><a href="#tab-2">My Photos</a></li>
                            <li><a href="#tab-3">My Videos</a></li>
                            <li><a href="#tab-4">My Streaming</a></li>
                            <li><a href="#tab-5">My Skill Analytics</a></li>
                        </ul>

                        <div id="tab-1">
                            <div class="hoopfolio-details">
                                <div class="right-tabs">
                                    <button type="submit" class="btn btn-university active" data-dismiss="modal">Unversity</button>
                                    <button type="submit" class="btn btn-public" data-dismiss="modal">Public</button>
                                </div>
                                <div class="status-div">
                                    <form id="status-timeline">
                                        <div class="form-group full-width">
                                            <textarea class="form-control" rows="4" id="status" placeholder="What's on your mind?"></textarea>
                                        </div>
                                        <div class="attachment-div">
                                            <div class="attachment-left">
                                                <ul>
                                                    <li>Attach :</li>
                                                    <li><a class="btn btn-common-red" data-id='upload-pic' data-toggle="modal"  href="#upload-pic"><i class="fas fa-camera"></i></a></li>
                                                    <li><a class="btn btn-common-red" data-id='upload_video' data-toggle="modal" href="#upload-video"><i class="fas fa-video"></i></a></li>
                                                    <li><a class="btn btn-common-red" data-id='link' data-toggle="modal" data-target="#link" href="#"><i class="fas fa-link"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="share-right">
                                                <ul>
                                                    <li><a href="#">My Wall</a></li>
                                                    <li><a href="#">News Feed</a></li>
                                                    <li><a class="btn btn-common-red" data-toggle="modal" data-target="#myModal" href="#">Share</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <div class="right-timeline-div">
                                    <div class="post-div">
                                        <div class="post-section">
                                            <div class="pull-left">
                                                <div class="profile-pic">
                                                    <img src="images/hoopfolio-profile.png"/>
                                                </div>
                                            </div>
                                            <div class="media-div">
                                                <h4>Jon Hildebrandt</h4>
                                                <p>“This drill is serious.”</p>
                                                <div class="media-content">
                                                    <img src="images/basketball_div.jpg" alt="images" />
                                                </div>
                                                <div class="post-comment">
                                                    <ul>
                                                        <li><strong>Tagged :</strong></li>
                                                        <li><a href="#">Garrett Johnson</a></li>
                                                        <li>12 hours ago</li>
                                                        <li><i class="far fa-thumbs-up"></i></li>
                                                        <li><i class="far fa-comment-dots"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="comment-info">
                                                    <p>Isaiah Taylor and <a href="#">1 other(s)</a> like this.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="post-div">
                                        <div class="post-section">
                                            <div class="pull-left">
                                                <div class="profile-pic">
                                                    <img src="images/hoopfolio-profile.png"/>
                                                </div>
                                            </div>
                                            <div class="media-div">
                                                <h4>Jon Hildebrandt</h4>
                                                <p>“This drill is serious.”</p>
                                                <div class="sport-video">
                                                    <iframe src="http://player.vimeo.com/video/114445022?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
                                                </div>
                                                <div class="post-comment">
                                                    <ul>
                                                        <li><strong>Tagged :</strong></li>
                                                        <li><a href="#">Garrett Johnson</a></li>
                                                        <li>12 hours ago</li>
                                                        <li><i class="far fa-thumbs-up"></i></li>
                                                        <li><i class="far fa-comment-dots"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="comment-info">
                                                    <p>Isaiah Taylor and <a href="#">1 other(s)</a> like this.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="post-div">
                                        <div class="post-section">
                                            <div class="pull-left">
                                                <div class="profile-pic">
                                                    <img src="images/hoopfolio-profile.png"/>
                                                </div>
                                            </div>
                                            <div class="media-div">
                                                <h4>Jon Hildebrandt</h4>
                                                <p>I Don't Know How To Work The App Please Help</p>
                                                <!-- <div class="media-content">
                                                    <img src="images/basketball_div.jpg" alt="images" />
                                                </div> -->
                                                <div class="post-comment">
                                                    <ul>
                                                        <li>January 07, 2019</li>
                                                        <li><i class="far fa-thumbs-up"></i></li>
                                                        <li><i class="far fa-comment-dots"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="inner-comment-section">
                                                    <div class="pull-left">
                                                        <div class="profile-inner-pic">
                                                            <img src="images/hoopfolio-profile.png"/>
                                                        </div>
                                                    </div>
                                                    <div class="media-inner-div">
                                                        <h4>Jon Hildebrandt</h4>
                                                        <p>With a free account you can post on your Hoopfolio account and communicate with other users. If you want to access our University, you have to enroll, though.</p>
                                                        <!-- <div class="media-content">
                                                            <img src="images/basketball_div.jpg" alt="images" />
                                                        </div> -->
                                                        <div class="post-comment">
                                                            <ul>
                                                                <li>January 07, 2019</li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2">
                            <div class="hoopfolio-details">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="hoopfolio-pics">
                                            <img src="images/product-peralax.png" alt="images" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="hoopfolio-pics">
                                            <img src="images/basketball_div1.jpg" alt="images" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="hoopfolio-pics">
                                            <img src="images/basketball_div.jpg" alt="images" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="hoopfolio-pics">
                                            <img src="images/product-peralax.png" alt="images" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="hoopfolio-pics">
                                            <img src="images/basketball_div1.jpg" alt="images" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3">
                            <div class="hoopfolio-details">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="hoopfolio-video">
                                            <iframe src="http://player.vimeo.com/video/114445022?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" width="100%" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="hoopfolio-video">
                                            <iframe src="http://player.vimeo.com/video/114445022?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" width="100%" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4">
                            <div id="mystreaming">
                                {% if(mystreaming) %}
                                    {% for streaming in mystreaming %}
                                        <div class="form-group">
                                            <label class="subscription-link" streamingid="{{ streaming.idStreamingPage.id }}">{{ streaming.idStreamingPage.pageTitle }}</label>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div id="streamingContent" style="display: none">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="btn btn-register" id="backtostream">
                                            Back to My Streaming
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="streaming_video" style="margin-right: auto; margin-left: auto; border: thin solid #575757;">
                                            <div class="media-screen">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6 margin-b-20">
                                                            <span class="btn mystreaming-btn active-strbtn subscription-link" id="tutorials" tw="0">
                                                                Tutorials
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="btn mystreaming-btn subscription-link" id="workouts" tw="1">
                                                                Workouts
                                                            </span>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="form-group">
                                                                <label class="font-w-300">Select option:</label>
                                                                <select class="select2-single" id="setworkouts">

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <label id="labelWorkout"></label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="hoopfolio-video">
                                                                <iframe id="myIframe"                                                                        src="http://player.vimeo.com/video/123234468?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" width="100%" height="400" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="">
                                                                </iframe>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                {#<span class="form-group">#}
                                    {#<label >Select</label>#}
                                    {#<select class="form-control">#}
                                        {#<option value="123">123</option>#}
                                    {#</select>#}
                                {#</span>#}
                            </div>
                        </div>
                        <div id="tab-5">
                            <p>not found</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>

        <!-- headline update -->
        {{ include('front/include/modal/headline_update.html.twig') }}
        <!-- upload pic -->
        <div class="modal fade" id="upload-pic" role="dialog" tabindex='-1'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Profile pic</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-12">
                                <form>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-save" data-dismiss="modal">Upload File</button>
                        <button type="reset" class="btn btn-reset" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- upload video -->
        <div class="modal fade" id="upload-video" role="dialog" tabindex='-1'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Video URL</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <label for="fname">Video URL</label>
                                        <input type="text" id="fname" class="form-control" name="fname" required>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-save" data-dismiss="modal">Attach Video</button>
                        <button type="reset" class="btn btn-reset" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- upload link -->
        <div class="modal fade" id="link" role="dialog" tabindex='-1'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Link</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <label for="fname">Link</label>
                                        <input type="text" id="fname" class="form-control" name="fname" placeholder="http://" required>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-save" data-dismiss="modal">Attach Video</button>
                        <button type="reset" class="btn btn-reset" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        $(document).ready(function () {


            $("#backtostream").click(function () {
                $("#streamingContent").hide();
                $("#mystreaming").show();
            });

        });
    </script>
    <style>
        .select2-container{
            width: 50% !important;

        }
        .select2-container .select2-selection--single{
            height: 35px;
        }
        .subscription-link {
            padding: 10px;
            width: 100%;
            margin: 0;
            border: 1px solid #dadada;
            border-radius: 5px;
            font-weight: 700;
            font-size: 13px;
            line-height: 2;
            letter-spacing: 1px;
            cursor: pointer;
        }
        .mystreaming-btn{
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 10px;
            padding: 8px 25px;
            font-size: 18px;
            width: 100%;
            background: #000000;
            font-weight: 600;
        }
        .active-strbtn{
            background: #c6261c !important;
        }
    </style>
{% endblock %}
