{% extends 'backend_base.html.twig' %}

{% block title %}{{ 'Superhandles Administration'|trans }}{% endblock %}


{% block pageHeader %}
    {{ include('admin/include/page_header.html.twig') }}
{% endblock %}


{% block pageContent %}
<div class="container-widget">

    <!-- Start Top Stats -->
    <div class="col-md-12">
        <ul class="topstats clearfix">
            <li class="arrow"></li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-dot-circle-o"></i> Today Profit</span>
                <h3>$36.45</h3>
                <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-calendar-o"></i> This Week</span>
                <h3>$96.25</h3>
                <span class="diff"><b class="color-up"><i
                                class="fa fa-caret-up"></i> 26%</b> from last week</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-shopping-cart"></i> Total Sales</span>
                <h3 class="color-up">696</h3>
                <span class="diff"><b class="color-up"><i
                                class="fa fa-caret-up"></i> 26%</b> from last month</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-users"></i> Visitors</span>
                <h3>960</h3>
                <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-eye"></i> Page View</span>
                <h3 class="color-up">46.230</h3>
                <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-clock-o"></i> Avarage Time</span>
                <h3 class="color-down">2:10
                    <small>min</small>
                </h3>
                <span class="diff"><b class="color-up"><i
                                class="fa fa-caret-up"></i> 26%</b> from last week</span>
            </li>
        </ul>
    </div>
    <!-- End Top Stats -->

</div>
{% endblock %}
