{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity" style="background: url(images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Media</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="media-screen">
            <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#youtube">YouTube Videos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nextvictim">What's your Next Victim? </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="youtube" class="tab-pane active">
                        <div class="allvideo-div wow fadeIn">
                            {% if data %}
                                {% for video in data %}
                                    {% if video.isVictimVideo == 1%}
                                        <div class="inner-media">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="media-content-div">
                                                        <iframe src="{{ video.videoUrl|trans }}?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1"  width="100%" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="media-content-div">
                                                        <h5>{{ video.videoTitle|trans }}</h5>
                                                        <p>{{ video.description|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div id="nextvictim" class="tab-pane fade"><br>
                        <div class="allvideo-div wow fadeIn">
                            {% if data %}
                                {% for video in data %}
                                    {% if video.isVictimVideo == 2 %}
                                        <div class="inner-media">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="media-content-div">
                                                        <iframe src="{{ video.videoUrl }}?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1"  width="100%" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="media-content-div">
                                                        <h5>{{ video.videoTitle|trans }}</h5>
                                                        <p>{{ video.description|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
