{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <div class="full-slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 350px;margin-top: 100px;">
            {% if campsSlider|length > 1 %}
            <ol class="carousel-indicators">
                {% set count = 0 %}
                {% for slider in campsSlider %}
                    {% set active = '' %}
                    {% if(count == 0) %}
                        {% set active = 'active' %}
                    {% endif %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="{{ active }}"></li>
                    {% set count = count + 1 %}
                {% endfor %}
            </ol>
            {% endif %}
            <div class="carousel-inner" role="listbox" style="height: 350px;">

                {% set count = 0 %}
                {% for slider in campsSlider %}
                    {% if count == 0 %}
                        {% set active = 'active' %}
                    {% else %}
                        {% set active = '' %}
                    {% endif %}
                    {% set campsImageName = UPLOAD_IMAGES_PATH ~ 'camps_slider/' ~ slider.bannerFile %}
                    {% if( (slider.bannerFile.fileName is defined)) %}
                        {% set campsImageName = UPLOAD_IMAGES_PATH ~ 'camps_slider/' ~ slider.bannerFile.fileName %}
                    {% endif %}
                    <div class="carousel-item {{ active }}" style="background-image: url({{campsImageName | imagine_filter('camps_slider_thumbnail') }})"></div>
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
            {% if campsSlider|length > 1 %}
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            {% endif %}
        </div>
    </div>
    {% if camps is not null %}
    <section>
        <div class="register-form">
            <div class="container">
                <div class="camp_info">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="camp-section-div">
                                <div class="camp-heading-red text-center">
                                    <h3 class="wow fadeInDown">Description</h3>
                                </div>
                                <div class="des_text">
                                    {{ camps.description|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="camp-section-div">
                                <div class="camp-heading-red text-center">
                                    <h3 class="wow fadeInDown">Time, Date & Place</h3>
                                </div>
                                <div class="des_text">
                                    <ul>
                                        <li>
                                            <div class="date-time-div">
                                                <h5>Time & Date</h5>
                                                <p>{{ camps.eventDateTime.format('M d, Y h:i:s A TH') }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="date-time-div">
                                                <h5>Place</h5>
                                                <p>{{ camps.eventPlace|trans }} </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="date-time-div">
                                                <h5>Contact</h5>
                                                <p>Email us at : {{ camps.contactEmail|trans }}</p>
                                                <p>Call us at this number : {{ camps.contactPhone }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="camp-section-div">
                                <div class="camp-heading-red text-center">
                                    <h3 class="wow fadeInDown">Additional Information</h3>
                                </div>
                                <div class="video-div wow fadeInDown" data-wow-duration="1s" data-wow-delay="0ms">
                                    <iframe src="{{ camps.youtubeUrl|trans }}" width="100%" scrolling="no"
                                            allowtransparency="true" allowfullscreen="true" frameborder="0"
                                            webkitallowfullscreen="" mozallowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
