{% extends 'backend_base.html.twig' %}

{% block title %}{{ title|default('CMS Listing')|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title|default('CMS Listing')|trans }}</h1>
        {% include 'admin/breadcrumbs.html.twig' %}
        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{{ path('cms_add') }}" class="btn btn-default btn-sm"><i
                            class="fa fa-plus"></i>{{ 'Add CMS'|trans }}</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->
    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->
            <div class="panel panel-default">
                <div class="panel-title">
                    {{ title|trans }}&nbsp;
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body table-responsive">
                    {{ sg_datatables_render(datatable) }}
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <!-- End Row -->
    </div>
{% endblock %}
