{% extends 'base.html.twig' %}

{% block title %}Paypal Redirect{% endblock %}

{% block body %}
    <h2>How To Create A Loader</h2>

    <div class="loader"></div>
    {{ form_start(form, {'attr':{'id': 'paypalSubmit'}}) }}

                    {{ form_row(form.data_paypal_express_checkout, {'label': ' ', 'label_attr': {'class': 'fo', 'checked': 'checked'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
    <style>
        .loader {
            border: 16px solid #ffffff;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <script>
        myfunction();
        function myfunction(){
            $('label').hide();
            $('legend').hide();
            $('#jms_choose_payment_method_method_0').attr('checked','checked').hide();
            $("#paypalSubmit").submit();
        }
    </script>
{% endblock %}
