{% extends 'base.html.twig' %}

{% block title %}Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos{% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(../images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Store</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="store">
        <div class="container">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            {% if form is defined %}
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    {{ form_start(form, {'attr':{'action': path('front_order_make_payment')}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
            {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <h1>Thanks, Your order is Done.</h1>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    </section>
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
