<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <title>{% block title %}Superhandles Administration{% endblock %}</title>
    {% block stylesheets %}
        <!-- ========== Css Files ========== -->
        <link href="{{ asset('css/admin/root.css') }}" rel="stylesheet">
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin/font-awesome.min.css') }}">
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/themes/blitzer/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css') }}" type="text/css"/>
    {% endblock %}

    <script src="{{ asset('js/admin/jquery.min.js') }}"></script>
    <script src="{{ asset('js/admin/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"
            charset="UTF-8"></script>
    <script src="{{ asset('js/admin/datatables.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
</head>
<body>
    {% if is_granted('ROLE_USER') %} {% set _isUserLogin = true %} {% else %} {% set _isUserLogin = false %}
    {% endif %}
    <!-- Start Page Loading -->
    <div class="loading"><img src="{{ asset('/backend_img/loading.gif') }}" alt="loading-img"></div>
    <!-- End Page Loading -->
    <!-- START TOP -->
    {{ include('admin/include/header.html.twig') }}
    <!-- END TOP -->
    <!-- START SIDEBAR -->
    {{ include('admin/include/sidebar.html.twig') }}
    <!-- END SIDEBAR -->
    <!-- START CONTENT -->
    <div class="content">
        <!-- Start Page Header -->
        {% block pageHeader %}
            Page header here..
        {% endblock %}
        <!-- End Page Header -->
        <!-- START CONTAINER -->
        {% block pageContent %}Page content here{% endblock %}
        <!-- END CONTAINER -->
        <!-- Start Footer -->
        {{ include('admin/include/footer.html.twig') }}
        <!-- End Footer -->
    </div>
    <!-- End Content -->

    {% block javascripts %}
        <script src="{{ asset('js/admin/plugins.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('js/admin/bootstrap-toggle.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/summernote/dist/summernote.min.js') }}"></script>
        <script src="{{ asset('js/admin/sweet-alert.min.js') }}"></script>
        <script src="{{ asset('js/admin/kode-alert/main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }} "></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js') }} "></script>
        <script src="{{ asset('assets/vendor/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/admin/custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/toastr/toastr.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"></script>
    {% endblock %}
</body>
</html>
