<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metaDescription %}{{ 'We have over 115 HOURS of basketball training workouts, with over 3,000 ball handling, shooting, dribbling, and passing drills. Get your FREE Workout now.' }}{% endblock %}">
    <meta name="keywords" content="{% block metaKeywords %}{{ 'ball handling drills, basketball training videos, ball handling, basketball dribbling drills' }}{% endblock %}">
    <title>{% block title %}{{ 'Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome-5/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/wow/css/libs/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/front/super-handles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/front/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/responsive-tabs/css/responsive-tabs.css') }}">
        <link rel="stylesheet" href="{{ asset('css/front/hover.css') }}">
        <link rel="stylesheet" href="{{ asset('css/front/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/front/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/front/loading.css') }}">
        <link rel="stylesheet" href="{{ asset('css/front/loading-btn.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/admin/shortcuts.css') }}" />
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.css') }}">
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('images/ico/favicon.png') }}">
    {% block headerJavascripts %}
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/front/custom.js') }}"></script>

    {% endblock %}
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
</head>

<body id="home" class="homepage">

{% if is_granted('ROLE_USER') %}
    {% set _isUserLogin = true %}
{% else %}
    {% set _isUserLogin = false %}
{% endif %}

{% block header %}
    <!-- START HEADER -->
    {{ include('front/include/header.html.twig') }}
    <!-- END HEADER -->
{% endblock %}
{% block body %}
    <!-- START FLASH MESSAGES -->
    {{ include('front/include/flash_messages.html.twig') }}
    <!-- END FLASH MESSAGES -->
    Body here
{% endblock %}
{% block footer %}
    <!-- START HEADER -->
    {{ include('front/include/footer.html.twig') }}
    <!-- END HEADER -->
{% endblock %}

<!-- starting point of all js -->
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/wow/dist/wow.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/vendor/classie/classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/clipboardjs/src/clipboard.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('assets/vendor/responsive-tabs/js/jquery.responsiveTabs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/bootstrap-input-spinner.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/front/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery-validation/dist/jquery.validate.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/vendor/toastr/toastr.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/vendor/select2/dist/js/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/owl.carousel.min.js') }}"></script>
    <script src="{{asset('js/front/hs/hs.core.js')}}"></script>
    <script src="{{asset('js/front/hs/hs.select.js')}}"></script>
    <script src="{{asset('js/front/hs/hs.step-form.js')}}"></script>
    <script src="{{asset('js/front/hs/hs.validation.js')}}"></script>

{% endblock %}

</body>
</html>
