{% extends 'backend_base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title|trans }}</h1>
        {% include 'admin/breadcrumbs.html.twig' %}
    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        {{ title|trans }}
                        <ul class="panel-tools">
                            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_row(form.idStreamingPage) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.video) }}
                        {{ form_row(form.audio) }}
                        <label>{{ 'Streaming Page Content Files'|trans }}:</label>
                        <ul class="streamingPageContentFiles padding-0 margin-0"
                            data-prototype="{{ form_widget(form.streamingPageContentFiles.vars.prototype)|e('html_attr') }}">
                            {% for streamingPageContentFile in form.streamingPageContentFiles %}
                                <li>
                                    {{ form_row(streamingPageContentFile.title) }}
                                    {{ form_row(streamingPageContentFile.url) }}
                                    <a href="{{ asset( STREAMING_CONTENT_DOCS ~ streamingPageContentFile.vars.value.url.filename ) }}"
                                       target="_blank">{{ streamingPageContentFile.vars.value.title }}</a>
                                    <div>
                                        <button type="button" class="btn btn-danger btn-sm remove_this_docs"><i
                                                    class="fa fa-remove"></i> {{ 'Remove' }}
                                        </button>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="form-group ">
                            <input type="submit" class="btn btn-default" value="{{ 'Save'|trans }}"/>
                            <input type="reset" class="btn btn-default" value="{{ 'Reset'|trans }}"/>
                            <input type="button" class="btn btn-default" value="{{ 'Cancel'|trans }}"
                                   onclick="window.history.back()"/>
                        </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">


        var $collectionHolder;

        // setup an "Add a Streaming Docs" link
        var $addTagButton = $('<button type="button" class="add_more_link btn btn-success btn-sm"><i class="fa fa-plus"></i> {{ 'Add a Streaming Docs'|trans }}</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);


        $(document).ready(function () {
            $('#streaming_page_idProductType').change(function () {
                quickAjax(Routing.generate('streamingpages_cat_product'), {"idProductType": $(this).val()}, function (jsondata) {
                    var jsondataSelect = $("#streaming_page_idProduct");
                    // Remove current options
                    jsondataSelect.html('');

                    $.each(jsondata, function (key, jsondata) {
                        jsondataSelect.append('<option value="' + jsondata.id + '">' + jsondata.title + '</option>');
                    });
                });
            });

            $('#streaming_page_idProduct').change(function () {
                $idProductType = $('#streaming_page_idProductType').val();
                if (parseInt($idProductType) === 3) {
                    $idProduct = $(this).val();
                    quickAjax(Routing.generate('streamingpages_subscription_product'),
                        {"idProductType": $idProductType, idProduct: $idProduct}, function (jsondata) {
                            $count = jsondata.length + 1;
                            $("#streaming_page_ccCodeMonth").val($count);
                        });
                }
            });


            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.streamingPageContentFiles');

            // add the "Add a Streaming Docs" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function (e) {

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });


            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a Streaming Docs" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                // add a delete link to the new form
                addTagFormDeleteLink($newFormLi);
            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> {{ 'Remove' }}</button>');
                $tagFormLi.append($removeFormButton);

                $removeFormButton.on('click', function (e) {
                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }

            $(".remove_this_docs").click(function () {
                if (confirm('Are you sure?')) {
                    $(this).closest('li').remove();
                }
            });
        });
    </script>
{% endblock %}
