{% extends 'backend_base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title|trans }}</h1>

        {% include 'admin/breadcrumbs.html.twig' %}

    </div>
{% endblock %}

{% block pageContent %}
    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {{ include('front/include/flash_messages.html.twig') }}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->

            <div class="panel panel-default">
                <div class="panel-title">
                    {{ title|trans }}
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        {#<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>#}
                    </ul>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {#{{ form_widget(form) }}#}

                    {{ form_row(form.idProduct) }}
                    {{ form_row(form.headlineTitle) }}
                    {{ form_widget(form.headlineEnable) }}
                    {{ form_row(form.discountText) }}
                    {{ form_row(form.discount) }}
                    {{ form_row(form.discountPrice) }}
                    {{ form_row(form.discountEnable) }}
                    {{ form_row(form.productTitle) }}
                    {{ form_row(form.productDescriptionTitle) }}
                    {{ form_row(form.productDescription) }}
                    {{ form_row(form.productDescriptionEnable) }}

                    {{ form_row(form.productImage) }}
                    {% if form.productImage.vars.data  %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.productImage.vars.data.basename is defined) %}
                            {% set productImage = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.productImage.vars.data.basename %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.productImage.vars.id }}' src="{{ productImage | imagine_filter('thumbnail_350_x_350')}}" height="350" width="350">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.productImage.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.productImage.vars.id }}' width="350" height="350"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.bannerType) }}
                    {{ form_row(form.videoId) }}
                    {{ form_row(form.imageUrl) }}
                    {% if form.imageUrl.vars.data  %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.imageUrl.vars.data.basename is defined) %}
                            {% set imageUrl = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.imageUrl.vars.data.basename %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.imageUrl.vars.id }}' src="{{ imageUrl | imagine_filter('thumbnail_350_x_350')}}" height="350" width="350">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.imageUrl.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.imageUrl.vars.id }}' width="350" height="350"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.mediaEnable) }}
                    {{ form_row(form.joinNowButtonText1) }}
                    {{ form_row(form.productPopupText) }}
                    {{ form_row(form.dvdProductPopupText) }}
                    {{ form_row(form.firstJoinNowEnable) }}
                    {{ form_row(form.joinNowButtonText2) }}
                    {{ form_row(form.secondJoinNowEnable) }}
                    {{ form_row(form.firstBoxTitle) }}
                    {{ form_row(form.firstBoxDescription) }}
                    {{ form_row(form.firstBoxEnable) }}
                    {{ form_row(form.secondBoxTitle) }}
                    {{ form_row(form.secondBoxDescription) }}
                    {{ form_row(form.secondBoxEnable) }}
                    {{ form_row(form.featureboxTitle) }}
                    {{ form_row(form.featureboxImageEnable) }}
                    {{ form_row(form.testimonialTitle1) }}
                    {{ form_row(form.testimonialImage1) }}
                    {% if form.testimonialImage1.vars.data  %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.testimonialImage1.vars.data.basename is defined) %}
                            {% set testimonialImage1 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.testimonialImage1.vars.data.basename %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.testimonialImage1.vars.id }}' src="{{ testimonialImage1 | imagine_filter('thumbnail_125_x_125')}}" height="125" width="125">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.testimonialImage1.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.testimonialImage1.vars.id }}' width="125" height="125"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.testimonialDescription1) }}

                    {{ form_row(form.testimonialTitle2) }}
                    {{ form_row(form.testimonialImage2) }}
                    {% if form.testimonialImage2.vars.data  %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.testimonialImage2.vars.data.basename is defined) %}
                            {% set testimonialImage2 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.testimonialImage2.vars.data.basename %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.testimonialImage2.vars.id }}' src="{{ testimonialImage2 | imagine_filter('thumbnail_125_x_125')}}" height="125" width="125">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.testimonialImage2.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.testimonialImage2.vars.id }}' width="125" height="125"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.testimonialDescription2) }}

                    {{ form_row(form.testimonialTitle3) }}
                    {{ form_row(form.testimonialImage3) }}
                    {% if form.testimonialImage3.vars.data  %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.testimonialImage3.vars.data.basename is defined) %}
                            {% set testimonialImage3 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ form.testimonialImage3.vars.data.basename %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.testimonialImage3.vars.id }}' src="{{ testimonialImage3 | imagine_filter('thumbnail_125_x_125')}}" height="125" width="125">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.testimonialImage3.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.testimonialImage3.vars.id }}' width="125" height="125"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.testimonialDescription3) }}
                    {{ form_row(form.testimonialEnable) }}
                    {{ form_row(form.afterTestimonialTitle) }}
                    {{ form_row(form.afterTestimonialDescription) }}
                    {{ form_row(form.afterTestimonialEnable) }}
                    {{ form_row(form.needSubscription) }}
                    {{ form_row(form.subscriptionCheckboxText) }}
                    {{ form_row(form.url) }}
                    {{ form_row(form.isCounterEnable) }}
                    {{ form_row(form.counterScriptUrl) }}
                    {{ form_row(form.counterScriptSmall) }}
                    {{ form_row(form.counterTitle) }}
                    {{ form_row(form.addDvdProduct) }}
                    {{ form_row(form.dvdProduct) }}
                    {{ form_row(form.footerText) }}
                    {{ form_row(form.footerLink) }}
                    {{ form_row(form.redirectLink) }}

                    {{ form_row(form.featureboxImage1) }}
                    {% if form.featureboxImage1.vars.data  %}
                        {% set baseFeatureboxImage1 = ((editable) ? form.featureboxImage1.vars.data.basename : form.featureboxImage1.vars.data) %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage1 is defined) %}
                            {% set featureboxImage1 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage1 %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.featureboxImage1.vars.id }}' src="{{ featureboxImage1 | imagine_filter('thumbnail_130_x_51')}}" height="51" width="130">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.featureboxImage1.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.featureboxImage1.vars.id }}' width="130" height="51"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.featureboxImage2) }}
                    {% if form.featureboxImage2.vars.data  %}
                        {% set baseFeatureboxImage2 = ((editable) ? form.featureboxImage2.vars.data.basename : form.featureboxImage2.vars.data) %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage2 is defined) %}
                            {% set featureboxImage2 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage2 %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.featureboxImage2.vars.id }}' src="{{ featureboxImage2 | imagine_filter('thumbnail_130_x_51')}}" height="51" width="130">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.featureboxImage2.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.featureboxImage2.vars.id }}' width="130" height="51"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.featureboxImage3) }}
                    {% if form.featureboxImage3.vars.data  %}
                        {% set baseFeatureboxImage3 = ((editable) ? form.featureboxImage3.vars.data.basename : form.featureboxImage3.vars.data) %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage3 is defined) %}
                            {% set featureboxImage3 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage3 %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.featureboxImage3.vars.id }}' src="{{ featureboxImage3 | imagine_filter('thumbnail_130_x_51')}}" height="51" width="130">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.featureboxImage3.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.featureboxImage3.vars.id }}' height="51" width="130"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.featureboxImage4) }}
                    {% if form.featureboxImage4.vars.data  %}
                        {% set baseFeatureboxImage4 = ((editable) ? form.featureboxImage4.vars.data.basename : form.featureboxImage4.vars.data) %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage4 is defined) %}
                            {% set featureboxImage4 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage4 %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.featureboxImage4.vars.id }}' src="{{ featureboxImage4 | imagine_filter('thumbnail_130_x_51')}}" height="51" width="130">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.featureboxImage4.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.featureboxImage4.vars.id }}' width="130" height="51"/>
                        </div>
                    {% endif %}

                    {{ form_row(form.featureboxImage5) }}
                    {% if form.featureboxImage5.vars.data  %}
                        {% set baseFeatureboxImage5 = ((editable) ? form.featureboxImage5.vars.data.basename : form.featureboxImage5.vars.data) %}
                        {% if(UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage5 is defined) %}
                            {% set featureboxImage5 = UPLOAD_IMAGES_PATH ~ form.vars.name ~ '/' ~ baseFeatureboxImage5 %}
                        {% endif %}
                        <div class="form-group">
                            <img id='{{ form.featureboxImage5.vars.id }}' src="{{ featureboxImage5 | imagine_filter('thumbnail_130_x_51')}}" height="51" width="130">
                        </div>
                    {% else  %}
                        <div class="form-group {{ form.featureboxImage5.vars.id }}" id="img-upload-preview" style="display:none;">
                            <img id='{{ form.featureboxImage5.vars.id }}' width="130" height="51"/>
                        </div>
                    {% endif %}

                    <div class="form-group ">
                        <input type="submit" class="btn btn-default" value="{{ 'Save'|trans }}"/>
                        <input type="reset" class="btn btn-default" value="{{ 'Reset'|trans }}"/>
                        <input type="button" class="btn btn-default" value="{{ 'Cancel'|trans }}"
                               onclick="window.history.back()"/>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready( function() {
            function readURL(input) {
                if (input.files && input.files[0]) {
                    $("div." + input.id).show(500);
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('img#' + input.id).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".image-preview").change(function() {
                readURL(this);
            });
        });
    </script>
{% endblock %}
