{% extends 'base.html.twig' %}

{% block title %}{{ 'Ball Handling Drills, Basketball Dribbling Drills &amp; Basketball Training Videos'|trans }}{% endblock %}

{% block body %}

    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(/images/page_login.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>{{ 'My Account'|trans }}</h2>
                </div>
            </div>
        </div>
    </section>

    {{ include('front/include/flash_messages.html.twig') }}

    <section id="my-account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="100ms">
                            <img src="images/myaccount/ico1.png"/>
                            <p>University</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="200ms">
                            <img src="images/myaccount/ico2.png"/>
                            <p>Team University</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
                            <img src="images/myaccount/ico3.png"/>
                            <p>Calendar</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="400ms">
                            <img src="images/myaccount/ico4.png"/>
                            <p>Live</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="500ms">
                            <img src="images/myaccount/ico5.png"/>
                            <p>Rankings</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="{{ path('front_hoopfolio_index') }}">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="600ms">
                            <img src="{{ asset('/images/myaccount/ico6.png') }}"/>
                            <p>My Hoopfolio</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="{{ path('my_profile') }}">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="700ms">
                            <img src="{{ asset('/images/myaccount/ico7.png') }}"/>
                            <p>Edit Profile</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="{{ path('fos_user_change_password') }}">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="800ms">
                            <img src="images/myaccount/ico8.png"/>
                            <p>Change Password</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="900ms">
                            <img src="images/myaccount/ico9.png"/>
                            <p>My Settings</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <img src="images/myaccount/ico10.png"/>
                            <p>Coach Settings</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.2s">
                            <img src="images/myaccount/ico11.png"/>
                            <p>My Skill Analytics</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.3s">
                            <img src="images/myaccount/ico12.png"/>
                            <p>My Streaming</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="{{ path('front_coach_coach_team_list') }}">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s">
                            <img src="images/myaccount/ico13.png"/>
                            <p>My Team</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.5s">
                            <img src="images/myaccount/ico14.png"/>
                            <p>Train Supe-Sessions</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.6s">
                            <img src="images/myaccount/ico15.png"/>
                            <p>Update Plan</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.7s">
                            <img src="images/myaccount/ico16.png"/>
                            <p>Update Card Details</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="university-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.8s">
                            <img src="images/myaccount/ico17.png"/>
                            <p>Cancel Team U</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
