{% extends (is_granted('ROLE_ADMIN')) ? 'backend_base.html.twig' : 'base.html.twig' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ 'My Profile' |trans }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_home') }}">Dashboard</a></li>
            <li class="active">{{ 'My Profile'|trans }}</li>
        </ol>
    </div>
{% endblock %}

    {% block pageContent %}
        <div class="container-padding">
            <!-- Start Row -->
            <div class="row">
                <!-- START FLASH MESSAGES -->
                {{ include('front/include/flash_messages.html.twig') }}
                <!-- END FLASH MESSAGES -->
                <!-- Start Panel -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-title">
                            {{ 'My Profile'|trans }}
                            <ul class="panel-tools">
                                <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            {{ form_start(basic_form, {'attr':{'class': 'regis-class'}}) }}
                            {{ form_widget(basic_form) }}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary float-left" value="Save"/>
                            </div>
                            {{ form_end(basic_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block body %}
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(/images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>{{ 'Profile'|trans }}</h2>
                </div>
            </div>
        </div>
    </section>
    {{ include('front/include/flash_messages.html.twig') }}
    {{ include('front/include/headline_section.html.twig') }}
    <section>
        <div class="black-bg"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-12">
                    {{ include('front/include/hoopfolio_menu.html.twig') }}
                </div>
                <div class="col-lg-9 col-md-8 col-xs-12">
                    <div id="horizontalTab">
                        <ul>
                            <li><a href="#basic-information">{{ 'Basic Information'|trans }}</a></li>
                            <li><a href="#profile-picture">{{ 'Profile Picture'|trans }}</a></li>
                        </ul>

                        <div id="basic-information">
                            <div class="hoopfolio-details">
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        {{ form_start(basic_form, {'attr':{'class': 'regis-class'}}) }}
                                        {{ form_widget(basic_form) }}
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary float-left" value="Save"/>
                                        </div>
                                        {{ form_end(basic_form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="profile-picture">
                            <div class="hoopfolio-details">
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        {{ form_start(cp_form, {'attr':{'class': 'regis-class'}}) }}
                                        {{ form_widget(cp_form) }}
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary  float-left" value="Save"/>
                                        </div>
                                        {{ form_end(cp_form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- headline update -->
    {{ include('front/include/modal/headline_update.html.twig') }}
{% endblock %}