{% extends 'base.html.twig' %}

{% block title %}{{ SITE_NAME }} - Registration{% endblock %}

{% block body %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <section>
        <div class="inner-page_bg bg-opacity"
             style="background: url(/images/page_headingV1.jpg) no-repeat center;background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class="page_header">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="register-form">
            <div class="container">
                <div class="reg_info">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="basketball-div"
                                 style="background: url(/images/basketball_div.jpg) no-repeat center; background-size: cover;">
                                <div class="regi_deta">
                                    <p>Try Super Handles University for free!</p>
                                    <form>
                                        <button type="submit" class="btn btn-click " id="clickbtn" name="go"
                                                formaction="https://superhandlesuniversity.com/best-basketball-training-program-on-planet-earth">
                                            Click Here
                                        </button>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">

                        <div class="row">
                            <div class="form-heading">
                                <p>Sign up to get your own Hoopfolio page as well as access to our free resources.</p>

                                <!-- START FLASH MESSAGES -->
                                {{ include('front/include/flash_messages.html.twig') }}
                                <!-- END FLASH MESSAGES -->

                                {{ form_start(form, {'attr':{'class': 'regis-class'}}) }}
                                {{ form_row(form.username) }}
                                {{ form_row(form.profile.firstname) }}
                                {{ form_row(form.profile.lastname) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.plainPassword) }}
                                {{ form_row(form.profile.isNewsletterSubscribed) }}

                                <div class="form-group text-center">
                                    <div class="g-recaptcha"
                                         data-sitekey="6LdMCx4UAAAAABmHTvmGiFKaVCbuKF78woD-ZHiK"></div>
                                </div>
                                <div class="form-group ">
                                    <input type="submit" class="btn btn-primary mt-3 float-left"
                                           value="{{ 'COMPLETE SIGN UP'|trans }}"/>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="example-wrapper">
            <div class="col-lg-12 text-center mt-lg-4"><h5>Sign up to get your own Hoopfolio page as well as access to our
                    free resources.</h5></div>
            <div class="col-lg-4 mx-auto mt-3 mb-5">

                {{ form_start(form) }}
                {{ form_widget(form) }}

                {{ form_rest(form) }}
                <div class="g-recaptcha" data-sitekey="6LdMCx4UAAAAABmHTvmGiFKaVCbuKF78woD-ZHiK"></div>

                <input type="submit" class="btn btn-primary mt-3" value="COMPLETE SIGN UP"/>
                {{ form_end(form) }}
            </div>
        </div>#}
{% endblock %}
