<div class="modal fade" id="myModal" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'Update Headline'|trans }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-md-12">
                            <div class="form-group full-width">
                                <label for="ttHeadline">Headline:</label>
                                <textarea class="form-control" rows="3" id="ttHeadline"></textarea>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-common-red" >{{ 'Save'|trans }}</button>
                <button type="reset" class="btn btn-common-red" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>