{{ form_start(form, {'attr': {'class': 'craue_config_settings_modify'}}) }}
	{{ form_errors(form) }}

	{% for section in sections | craue_sortSections %}
		{% if section is not empty %}
			<fieldset >
				<legend>{{ section | trans({}, 'CraueConfigBundle') }} <i class="fa fa-minus cls-fieldset"></i></legend>
		{% endif %}

		{% for setting in form.settings if setting.vars.value.section == section %}
			{{ form_row(setting.value) }}
		{% endfor %}

		{% if section is not empty %}
			</fieldset>
		{% endif %}
	{% endfor %}

	{{ form_rest(form) }}

	<button type="submit" class="btn btn-default">{{ 'modify_settings' | trans({}, 'CraueConfigBundle') }}</button>
{{ form_end(form) }}