{% extends 'backend_base.html.twig' %}

{% block title %}{{ 'Settings'|trans }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="title">{{ title|default('Settings')|trans }}</h1>
        {% include 'admin/breadcrumbs.html.twig' %}
    </div>
{% endblock %}

{#{% block craue_config_content %}asd#}
{% block pageContent %}

    <div class="container-padding">
        <!-- Start Row -->
        <div class="row">
            <!-- START FLASH MESSAGES -->
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-success alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        {{- flashMessage -}}
                    </div>
                {% endfor %}
            {% endfor %}
            <!-- END FLASH MESSAGES -->
            <!-- Start Panel -->
            <div class="panel panel-default">
                <div class="panel-title">&nbsp;
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    {% include '@CraueConfig/Settings/modify_content.html.twig' %}
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".cls-fieldset").click(function (e) {
                e.preventDefault();
                if ($(this).hasClass('fa-minus')) {
                    $(".form-group", $(this).parent().parent()).hide('slow');
                    $(this).removeClass('fa-minus').addClass('fa-plus');
                } else {
                    $(".form-group", $(this).parent().parent()).show('slow');
                    $(this).removeClass('fa-plus').addClass('fa-minus');
                }

            })
        })
    </script>
{% endblock %}